<div id="refinedUser">
	<div class="customheader">
		<div class="customheaderleft">
			<h2>{{userName}}</h2>
		</div>
		<div class="customheaderright">
			<p class="pull-right">{{dayName}}, {{monthname}} {{day}}</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-sm-12 mrgTop8em">
		<div class="mrgTop2em col-sm-12">
			<table class="table">
				<tbody>
					<tr>
						<td class="sidenavTable">
							Trufl Transactions I've<br /> Facilitated During This Service
						</td>
						<td class="nOFontStyle alignCenter">{{Daily_Transaction}}</td>
						<td class="fontSize30">Trufl Transactions I've<br /> Facilitated During This Period</td>
						<td class="nOFontStyle alignCenter">{{Trufl_Transaction}}</td>
					</tr>
					<tr>
						<td class="sidenavTable">
							Trufl Transaction Value I've<br /> Facilitated During This Service
						</td>
						<td class="nOFontStyle alignCenter">{{Daily_Transaction_Value}}</td>
						<td class="fontSize30">Trufl Transaction Value I've<br /> Facilitated During This Period</td>
						<td class="nOFontStyle alignCenter">{{Trufl_Transaction_Value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
  <div class="col-xs-12 leaderboard">
    <table class="table">
      <thead>
        <tr>
          <th><span>Leaderboard</span></th>
          <th>Trufl Transactions<br /> Facilitated This Period</th>
          <th>Trufl Transaction Value<br /> Facilitated This Period</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.total_info;let i=index" (click)="showtransaction(item)">

          <td><img alt="" class="imm" src="data:image/JPEG;base64,{{item.pic}}" /> {{item.FullName}}</td>
          <td class="nOFontStyle"><span>{{item.Trufl_Transaction}}</span></td>
          <td class="nOFontStyle">{{item.Trufl_Transaction_Value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
	<div class="col-md-12 bottombuttons">
		<span class="spancloseIconStyle" (click)="cancel()"><img src="assets/images/cross.png"  />EXIT</span>
	</div>
	<div class="clearfix"></div>
</div>
















