<shared-header></shared-header>
<div class="col-md-12 mrgTop5em nopad">
  <div class="waitlist-container">
    <div class="tbl-fix" id="printrowheader">

      <!--
  <table class="table-responsive" id="WaitlistTbl">
    <thead>
      <tr id="printrowheader">
        <th class="alignleft col-cust-bio" id="one" (click)="sortTruffleList('UserName')">
          <span class="wl-title">Guest<br /> bio</span><span class="sorting-ico">
            <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'UserName' && isDesc), 'icon-trufl-sort': (column != 'UserName'), 'glyphicon-chevron-up': (column == 'UserName' && !isDesc) }" aria-hidden="true"> </i>
          </span>
        </th>
        <th class="alignleft col-party-size" id="four" (click)="sortTruffleList('PartySize')">
          <span class="wl-title">PARTY<br /> SIZE</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'PartySize' && isDesc), 'icon-trufl-sort': (column != 'PartySize'), 'glyphicon-chevron-up': (column == 'PartySize' && !isDesc) }" aria-hidden="true"> </i></span>
        </th>
        <th class="alignleft col-time-add" id="twelve">
          <span class="wl-title">Time <br />Added</span>
        </th>
        <th class="alignleft col-wait-quot" id="five" (click)="sortTruffleList('Quoted')">
          <span class="wl-title">WAIT<br /> QUOTED</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'Quoted' && isDesc), 'icon-trufl-sort': (column != 'Quoted'), 'glyphicon-chevron-up': (column == 'Quoted' && !isDesc) }" aria-hidden="true"> </i></span>
        </th>
        <th class="alignleft col-dob" id="thirteen"><span class="wl-title">DOB</span></th>
        <th class="alignleft col-offer-reserv" id="seven"><span class="wl-title">OFFER/<br /> RESERVATION</span></th>

        <th class="alignleft" id="nine">
          <span class="col-row-flex">
            <span class="col-accep-offer" id="eight">
              <span class="wl-title">ACCEPT<br /> OFFER</span>
            </span>
            <span class="col-notify">
              <span class="wl-title">NOTIFY</span>
            </span>
            <span class="col-meesage">
              <span class="wl-title">MESSAGE</span>
            </span>
            <span class="col-print">
              <span class="wl-title">PRINT</span>
            </span>
            <span class="col-remove">
              <span class="wl-title">REMOVE</span>
            </span>
          </span>

        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pinedwaitlist | orderBy: {property: 'timeLeft', direction: 1}; let i=index;" id="printrow_{{i}}"
          (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
          [style.opacity]="getOpacity(item)">
        <td class="alignleft col-cust-bio">
          <p class="fontsize18">{{item.UserName}}</p>
          <span class="alignleft wlDaimond" id="dimond_{{i}}">
            <span>
              <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
              <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
              <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
              <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
            </span>
          </span>
          <span class="alignleft wlDaimond" id="dimond_{{i}}">
            <span>
              <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
              <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
              <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
            </span>
          </span>
        </td>

        <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
        <td class="nOFontStyle alignleft col-time-add">{{item.TimeAdded | date:'shortTime'}}</td>
        <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>
        <td class="nOFontStyle alignleft col-dob">{{item.DOB| date:'MM/dd'}}</td>
        <td class="nOFontStyle alignleft col-offer-reserv">
          <span>
            <span *ngIf="item.OfferAmount>0">$</span>
            <span>{{item.OfferAmount}}</span>
            <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
              <img src="assets/images/star_1.png" />
            </a>
            <a href="javascript:void(0)" class="offer_stars" *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
              <img src="assets/images/star_1.png" />
              <img src="assets/images/star_1.png" />
            </a>
            <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
              <img src="assets/images/star_2.png" />
              <img src="assets/images/star_2.png" />
              <img src="assets/images/star_2.png" />
            </a>
          </span>
        </td>

        <td class="alignleft">
          <span class="col-row-flex">
            <span class="col-accep-offer">
              <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                <span class="icon-trufl-offer"></span>
              </a>
              <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">

              <span class="icon-trufl-seated gold-color"></span>
            </a>
          </span>

          <span class="col-notify">
            <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">
              <span class="icon-trufl-notify"></span>
            </a>
            <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">
              <span class="icon-trufl-seated dark-color"></span>
            </a>
          </span>

          <span class="col-notify">
            <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
              <span class="icon-trufl-message"></span>
            </a>
          </span>
          <span class="col-meesage">
            <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
              <span class="icon-trufl-message"></span>
            </a>
          </span>
          <span class="col-print">
            <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
              <span class="icon-trufl-print"></span>
            </a>
          </span>
          <span class="col-remove">
            <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
              <span class="icon-trufl-remove"></span>
            </a>
          </span>
        </span>
      </td>
    </tr>
    <tr *ngFor="let item of clonedObject | orderBy: {property: column, direction: direction}; let i=index;" id="printrow_{{i}}"
        (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
        [style.opacity]="getOpacity(item)">
      <td class="alignleft col-cust-bio">
        <p class="fontsize18">{{item.UserName}}</p>
        <span class="alignleft wlDaimond" id="dimond_{{i}}">
          <span>
            <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
            <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
            <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
            <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
          </span>
        </span>
        <span class="alignleft wlDaimond" id="dimond_{{i}}">
          <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
          <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
          <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
        </span>
      </td>
      <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
      <td class="nOFontStyle alignleft col-time-add">{{item.TimeAdded | date:'shortTime'}}</td>
      <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>
      <td class="nOFontStyle alignleft col-wait-quot">{{item.DOB | date:'MM/dd'}}</td>
      <td class="nOFontStyle alignleft col-offer-reserv">

          <span>
            <span *ngIf="item.OfferAmount>0">$</span>
            <span>{{item.OfferAmount}}</span>
            <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
              <img src="assets/images/star_1.png" />
              <span class="icon-trufl-diamond dc-light-green"></span>
            </a>
            <a href="javascript:void(0)" class="offer_stars" *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">

          <span class="icon-trufl-diamond dc-light-green"></span>
          <span class="icon-trufl-diamond dc-light-green"></span>
          </a>
          <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">


            <span class="icon-trufl-diamond dc-dark-green"></span>
            <span class="icon-trufl-diamond dc-dark-green"></span>
            <span class="icon-trufl-diamond dc-dark-green"></span>
          </a>
          </span>
          </td>

          <td class="alignleft">
            <span class="col-row-flex">
              <span class="col-accep-offer">
                <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                  <span class="icon-trufl-offer"></span>
                </a>
                <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">
                  <span class="icon-trufl-seated gold-color"></span>
                </a>
              </span>
              <span class="col-notify">
                <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">
                  <span class="icon-trufl-notify"></span>
                </a>
                <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">
                  <span class="icon-trufl-seated dark-color"></span>
                </a>
              </span>
              <span class="col-meesage">
                <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
                  <span class="icon-trufl-message"></span>
                </a>
              </span>
              <span class="col-print">
                <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
                  <span class="icon-trufl-print"></span>
                </a>
              </span>
              <span class="col-remove">
                <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
                  <span class="icon-trufl-remove"></span>
                </a>
              </span>
            </span>
          </td>
          </tr>
          </tbody>
          </table>
          -->
      <!-- Table 3 -->
      <!--
  <div class="table-area">
    <table class="responsive-table table">
      <thead>
        <tr id="printrowheader">
          <th class="alignleft col-cust-bio" id="one" (click)="sortTruffleList('UserName')">
            <span class="wl-title">Guest<br /> bio</span><span class="sorting-ico">
              <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'UserName' && isDesc), 'icon-trufl-sort': (column != 'UserName'), 'glyphicon-chevron-up': (column == 'UserName' && !isDesc) }" aria-hidden="true"> </i>
            </span>
          </th>
          <th class="alignleft col-party-size" id="four" (click)="sortTruffleList('PartySize')">
            <span class="wl-title">PARTY<br /> SIZE</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'PartySize' && isDesc), 'icon-trufl-sort': (column != 'PartySize'), 'glyphicon-chevron-up': (column == 'PartySize' && !isDesc) }" aria-hidden="true"> </i></span>
          </th>
          <th class="alignleft col-time-add" id="twelve">
            <span class="wl-title">Time <br />Added</span>
          </th>
          <th class="alignleft col-wait-quot" id="five" (click)="sortTruffleList('Quoted')">
            <span class="wl-title">WAIT<br /> QUOTED</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'Quoted' && isDesc), 'icon-trufl-sort': (column != 'Quoted'), 'glyphicon-chevron-up': (column == 'Quoted' && !isDesc) }" aria-hidden="true"> </i></span>
          </th>
      <th class="alignleft col-offer-reserv" id="seven"><span class="wl-title">OFFER/<br /> RESERVATION</span></th>

      <th class="alignleft" id="nine"><span class="wl-title">ACCEPT/<br />NOTIFY</span></th>

      <th class="alignleft" id="ten"><span class="wl-title">MESSAGE</span></th>
      <th class="alignleft " id="elevan"><span class="wl-title">PRINT</span></th>
      <th class="alignleft" id="twolve"><span class="wl-title">REMOVE</span></th>

      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pinedwaitlist | orderBy: {property: 'timeLeft', direction: 1}; let i=index;" id="printrow_{{i}}"
            (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
            [style.opacity]="getOpacity(item)">
          <td class="alignleft col-cust-bio">
            <p class="fontsize18">{{item.UserName}}</p>
            <span class="alignleft wlDaimond" id="dimond_{{i}}">
              <span>
                <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
                <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
                <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
                <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
              </span>
            </span>
            <span class="alignleft wlDaimond" id="dimond_{{i}}">
              <span>
                <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
                <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
                <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
              </span>
            </span>
          </td>

          <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
          <td class="nOFontStyle alignleft col-time-add"><span>{{item.TimeAdded | date:'shortTime'}}</span></td>
          <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>
          <td class="nOFontStyle alignleft col-offer-reserv">
            <span>
              <span *ngIf="item.OfferAmount>0">$</span>
              <span>{{item.OfferAmount}}</span>
              <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">

                <span class="icon-trufl-star dc-light-green"></span>
              </a>
              <a href="javascript:void(0)" class="offer_stars"
                 *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
                  <span class="icon-trufl-star dc-light-green"></span>
              </a>
              <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
                <span class="icon-trufl-star dc-dark-green"></span>
                <span class="icon-trufl-star dc-dark-green"></span>
                <span class="icon-trufl-star dc-dark-green"></span>
              </a>
            </span>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY === 1">
              <span class="icon-trufl-notify"></span>
            </a>
            <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===2">
              <span class="icon-trufl-offer"></span>
            </a>
            <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===3">
              <span class="icon-trufl-seated"></span>
            </a>
            <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===5">
              <span class="icon-trufl-getseatednow"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
              <span class="icon-trufl-message"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
              <span class="icon-trufl-print"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
              <span class="icon-trufl-remove"></span>
            </a>
          </td>

        </tr>
        <tr *ngFor="let item of clonedObject | orderBy: {property: column, direction: direction}; let i=index;" id="printrow_{{i}}"
            (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
            [style.opacity]="getOpacity(item)">
          <td class="alignleft col-cust-bio">
            <p class="fontsize18">{{item.UserName}}</p>
            <span class="alignleft wlDaimond" id="dimond_{{i}}">
              <span>
                <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
                <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
                <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
                <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
              </span>
            </span>
            <span class="alignleft wlDaimond" id="dimond_{{i}}">
              <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
              <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
              <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
            </span>
          </td>
          <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
          <td class="nOFontStyle alignleft col-time-add"><span>{{item.TimeAdded | date:'shortTime'}}</span></td>
          <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>
          <td class="nOFontStyle alignleft col-offer-reserv">

            <span>
              <span *ngIf="item.OfferAmount>0">$</span>
              <span>{{item.OfferAmount}}</span>
              <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
                <img src="assets/images/star_1.png" />
                <span class="icon-trufl-diamond dc-light-green"></span>
              </a>
              <a href="javascript:void(0)" class="offer_stars" *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">

                <span class="icon-trufl-diamond dc-light-green"></span>
                <span class="icon-trufl-diamond dc-light-green"></span>
                /
              </a>
              <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">

                <span class="icon-trufl-diamond dc-dark-green"></span>
                <span class="icon-trufl-diamond dc-dark-green"></span>
                <span class="icon-trufl-diamond dc-dark-green"></span>
              </a>
            </span>
          </td>
          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
              <span class="icon-trufl-offer"></span>
            </a>
            <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">
              <span class="icon-trufl-seated gold-color"></span>
            </a>
          </td>
          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">
              <span class="icon-trufl-notify"></span>
            </a>
            <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">
              <span class="icon-trufl-seated dark-color"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
              <span class="icon-trufl-message"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
              <span class="icon-trufl-print"></span>
            </a>
          </td>

          <td class="nOFontStyle alignleft">
            <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
              <span class="icon-trufl-remove"></span>
            </a>
          </td>

        </tr>
      </tbody>
      </table>
    </div>
    -->
      <!-- Table 1 -->
      <div class="thead">
        <table class="responsive-table">
          <thead>
            <tr>
              <th class="alignleft col-cust-bio" id="one" (click)="sortTruffleList('UserName')">
                <span class="wl-title">Guest<br /> bio</span><span class="sorting-ico">
                  <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'UserName' && isDesc), 'icon-trufl-sort': (column != 'UserName'), 'glyphicon-chevron-up': (column == 'UserName' && !isDesc) }" aria-hidden="true"> </i>
                </span>
              </th>
              <th class="alignleft col-party-size" id="four" (click)="sortTruffleList('PartySize')">
                <span class="wl-title">PARTY<br /> SIZE</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'PartySize' && isDesc), 'icon-trufl-sort': (column != 'PartySize'), 'glyphicon-chevron-up': (column == 'PartySize' && !isDesc) }" aria-hidden="true"> </i></span>
              </th>
              <th class="alignleft col-time-add" id="twelve">
                <span class="wl-title">Time <br />Added</span>
              </th>
              <th class="alignleft col-wait-quot" id="five" (click)="sortTruffleList('Quoted')">
                <span class="wl-title">WAIT<br /> QUOTED</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'Quoted' && isDesc), 'icon-trufl-sort': (column != 'Quoted'), 'glyphicon-chevron-up': (column == 'Quoted' && !isDesc) }" aria-hidden="true"> </i></span>
              </th>
              <th class="alignleft col-offer-reserv" id="seven"><span class="wl-title">OFFER/<br /> RESERVATION</span></th>

              <th class="alignleft col-accep-offer" id="nine"><span class="wl-title">ACCEPT/<br />NOTIFY</span></th>

              <th class="alignleft col-meesage" id="ten"><span class="wl-title">MESSAGE</span></th>
              <th class="alignleft col-print" id="elevan"><span class="wl-title">PRINT</span></th>
              <th class="alignleft col-remove" id="twolve"><span class="wl-title">REMOVE</span></th>

            </tr>
          </thead>
        </table>
      </div>
      <div class="tbody">
          <table class="responsive-table table">
            <tbody>
              <tr *ngFor="let item of pinedwaitlist | orderBy: {property: 'timeLeft', direction: 1}; let i=index;" id="printrow_{{i}}"
                  (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
                  [style.opacity]="getOpacity(item)">
                <td class="alignleft col-cust-bio">
                  <p class="fontsize18">{{item.UserName}}</p>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span>
                      <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
                      <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
                      <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
                      <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
                    </span>
                  </span>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span>
                      <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
                      <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
                      <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
                    </span>
                  </span>
                </td>

                <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
                <td class="nOFontStyle alignleft col-time-add"><span>{{item.TimeAdded | date:'shortTime'}}</span></td>
                <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>
                <td class="nOFontStyle alignleft col-offer-reserv">
                  <span>
                    <span class="pull-left OfferAmount">
                      <span *ngIf="item.OfferAmount>0">$</span>
                      <span>{{item.OfferAmount}}</span>
                    </span>
                    
                    <a href="javascript:void(0)" class="offer_stars pull-right" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
                      <span class="icon-trufl-star dc-gold"></span>
                    </a>
                    <a href="javascript:void(0)" class="offer_stars pull-right"
                       *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
                      <span class="icon-trufl-star dc-gold"></span>
                      <span class="icon-trufl-star dc-gold"></span>
                    </a>
                    <a href="javascript:void(0)" class="offer_stars pull-right" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
                      <span class="icon-trufl-star dc-gold"></span>
                      <span class="icon-trufl-star dc-gold"></span>
                      <span class="icon-trufl-star dc-gold"></span>
                    </a>
                  </span>
                </td>
                <td class="nOFontStyle alignleft col-notify">
                  <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY === 1">
                    <span class="icon-trufl-notify"></span>
                  </a>
                  <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===2">
                    <span class="icon-trufl-offer"></span>
                  </a>
                  <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===3">
                    <span class="icon-trufl-seated"></span>
                  </a>
                  <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===5">
                    <span class="icon-Exclusion dc-gold"></span>
                    <!--<span class="icon-trufl-getseatednow"></span>-->
                  </a>
    </td>

    <td class="nOFontStyle alignleft col-meesage">
      <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
        <span class="icon-trufl-message"></span>
      </a>
    </td>

    <td class="nOFontStyle alignleft col-print">
      <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
        <span class="icon-trufl-print"></span>
      </a>
    </td>

    <td class="nOFontStyle alignleft col-remove">
      <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
        <span class="icon-trufl-remove"></span>
      </a>
    </td>

  </tr>
  <tr *ngFor="let item of clonedObject | orderBy: {property: column, direction: direction}; let i=index;" id="printrow_{{i}}"
      (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
      [style.opacity]="getOpacity(item)">
    <td class="alignleft col-cust-bio">
      <p class="fontsize18">{{item.UserName}}</p>
      <span class="alignleft wlDaimond" id="dimond_{{i}}">
        <span>
          <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
          <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
          <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
          <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
        </span>
      </span>
      <span class="alignleft wlDaimond" id="dimond_{{i}}">
        <span>
          <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
          <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
          <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
        </span>
      </span>
    </td>

    <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
    <td class="nOFontStyle alignleft col-time-add"><span>{{item.TimeAdded | date:'shortTime'}}</span></td>
    <td class="nOFontStyle alignleft col-wait-quot">{{item.Quoted}}</td>

    <td class="nOFontStyle alignleft col-offer-reserv">
      <span>
        <span class="pull-left OfferAmount">
          <span *ngIf="item.OfferAmount>0">$</span>
          <span>{{item.OfferAmount}}</span>
        </span>

        <a href="javascript:void(0)" class="offer_stars pull-right" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
          <span class="icon-trufl-star dc-gold"></span>
        </a>
        <a href="javascript:void(0)" class="offer_stars pull-right"
           *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
          <span class="icon-trufl-star dc-gold"></span>
          <span class="icon-trufl-star dc-gold"></span>
        </a>
        <a href="javascript:void(0)" class="offer_stars pull-right" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
          <span class="icon-trufl-star dc-gold"></span>
          <span class="icon-trufl-star dc-gold"></span>
          <span class="icon-trufl-star dc-gold"></span>
        </a>
      </span>
    </td>

    <td class="nOFontStyle alignleft col-notify">
      <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY === 1">
        <span class="icon-trufl-notify"></span>
      </a>
      <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===2">
        <span class="icon-trufl-offer"></span>
      </a>
      <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===3">
        <span class="icon-trufl-seated"></span>
      </a>
      <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.ACCEPTNOTIFY===5">
        <span class="icon-Exclusion"></span>
        <!--<span class="icon-trufl-getseatednow"></span>-->
      </a>
                </td>

                <td class="nOFontStyle alignleft col-meesage">
                  <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
                    <span class="icon-trufl-message"></span>
                  </a>
                </td>

                <td class="nOFontStyle alignleft col-print">
                  <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
                    <span class="icon-trufl-print"></span>
                  </a>
                </td>

                <td class="nOFontStyle alignleft col-remove">
                  <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
                    <span class="icon-trufl-remove"></span>
                  </a>
                </td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="addImgDiv">
        <a href="javascript:void(0)" class="addImg"><img (click)="navigateToaddGuest()" class="addImgwidth" src="assets/images/bigadd.png" /></a>
      </div>
    </div>

  <!--User Profile  Right Side-->

  <div class="flyOut flyOut-560 animated fadeInRight" [ngClass]="[showProfile===true ? 'fly-max':'fly-min']">
    <!--*ngIf="showProfile"-->
    <a href="javascript:void(0)" class="close-box" (click)="closeProile()" *ngIf="showProfile">
      <span class="icon-trufl-close"></span>
    </a>
          
    <ul role="tablist">
      <li class="">
        <a class="nav-link " href="javascript:void(0)" role="tab"
           (click)="guestflyoutClicks()"
           [ngClass]="[guestinfoflyout===true ? 'active':'nav-link ']">

          <div class="ico-name">
            <p><span class="ico-sett icon-trufl-guest"></span></p>
            <p>Guest</p>
          </div>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" role="tab"
           (click)="serverflyoutClicks()"
           [ngClass]="[serversflyout===true ? 'active':'nav-link ']">

          <div class="ico-name">
            <p><span _ngcontent-c2="" class="ico-sett icon-trufl-server"></span></p>
            <p>Servers</p>
          </div>

        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="javascript:void(0)" role="tab"
           (click)="gsnflyoutClicks()"
           [ngClass]="[getseatedflyout===true ? 'active':'nav-link']">

          <div class="ico-name">
            <p><span class="ico-sett icon-trufl-getseatednow"></span></p>
            <p>GSN</p>
          </div>

        </a>
      </li>
    </ul>
    <div class="fly-tab-content noFooter">
      <div role="tabpanel" *ngIf="guestinfoflyout" class="tabpanel">
        <div class="user-info" *ngIf="recordsFound">
         <!-- <p>{{guestinfoflyout}}</p>-->
          <div class="user-top-block">

            <div class="picture">
              <img src="assets/images/staff.png" alt="" />
            </div>
            <h3>{{username}}</h3>
            <span class="Truflmember">
              <a href="javascript:void(0)" *ngIf="TruflMember==1">Trufl Member</a>
              <a href="javascript:void(0)" *ngIf="TruflMember==2">Trufl Club </a>
              <a href="javascript:void(0)" *ngIf="TruflMember==3">Trufl Premier</a>
              <a href="javascript:void(0)" *ngIf="TruflMember==4">Black Trufl Member</a>
            </span>
            <span class="Restaurentmember">
              <span class="icon-trufl-diamond dc-dark-blue" *ngIf="RestaurantMember === 5"></span>
              <span class="icon-trufl-diamond dc-light-blue" *ngIf="RestaurantMember === 6"></span>
              <span class="icon-trufl-diamond dc-blue" *ngIf="RestaurantMember === 7"></span>
            </span>

          </div>
          <div class="user-middle-block">


            <h6>This Visit</h6>
            <p>{{data.ThisVisit}}</p>

            <h6>Relationship</h6>
            <p>{{data.Relationship}}</p>

            <h6>Seating Preferences</h6>
            <p>{{data.SeatingPreferences}}</p>

            <h6>Food & Drink Preferences</h6>
            <p>{{data.FoodAndDrinkPreferences}}</p>

          </div>
          <div class="user-bottom-block">
            <ul>
              <li>
                <a href="javascript:void(0)" (click)="printrow(data,selectedrowindex)">
                  <span class="ico-sett icon-trufl-print" ></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="editguest()">
                  <span class="ico-sett icon-trufl-edit" ></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="changeaccepticon(data);$event.stopPropagation();" *ngIf="data.Accept === 1">
                  <span class="ico-sett icon-trufl-offer"></span>
                </a>
                <a href="javascript:void(0)" (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Accept===2">
                  <span class="ico-sett icon-trufl-seated"></span>
                </a>
                <a href="javascript:void(0)" (click)="notify(data);$event.stopPropagation();" *ngIf="data.Notify === 1">
                  <span class="ico-sett icon-trufl-notify"></span>
                </a>
                <a href="javascript:void(0)" (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Notify === 2">
                  <span class="ico-sett icon-trufl-seated"></span>
                </a>
              </li>

              <li>
                <a href="javascript:void(0)">
                  <span class="ico-sett icon-trufl-remove" (click)="Remove(bookingid,username)"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="user-info"  *ngIf="!recordsFound">
          <div class="noRecords">
            <h4>Records Not Found</h4>
          </div>          
        </div>
      </div>
      <div role="tabpanel" *ngIf="serversflyout" class="tabpanel">
        <!--{{serversflyout}}-->
            <div class="waitlistServers">
              <h3>SERVERS</h3>
              <div class="clearfix"></div>
              <table class="table">
                <thead>
                  <tr>
                    <th>SERVER</th>
                    <th>AVAIL.</th>
                    <th>SEATE</th>
                    <th>CHECKS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of availableServeres">
                    <td>
                      <span class="serverPic"><img src="data:image/JPEG;base64,{{items.pic}}" alt="image" /></span>
                      <span class="serverName">
                          <p>{{items.HostessName}}</p>
                          <p>{{items.OccupancyPer}}%</p>
                      </span>
                    </td>
                    <td><span>{{items.TotalAvailable}}</span></td>
                    <td><span>{{items.TotalSeated}}</span></td>
                    <td><span>{{items.ChecksDropped}}</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>
      </div>
      <div role="tabpanel" *ngIf="getseatedflyout" class="tabpanel">
        <div class="user-info">
         <!--{{getseatedflyout}}-->
          <div class="user-top-block">
            <h3>Get Seated Now</h3>
            <div class="picture">
              <span class="sopt gsn-spot">
                <span class="ico-sett icon-trufl-getseatednow"></span>
              </span>
            </div>
          </div>
          <div class="user-middle-block-gsn">
            <form class="gsn-flyout-from" action="">
              <div class="tops-details">
                <div class="tops-sections" *ngFor="let item of table">
                  <div class="tops-size-prize" >
                    <div class="tops-size" *ngIf="item.tables.length">
                      <h4>{{item.tableName}}</h4>
                    </div>
                    <div class="tops-prize" *ngIf="item.tables.length">
                      <div>
                        <input type="text" [value]="item.offerAmount" disabled />
                      </div>
                    </div>
                  </div>
                  <div class="tops-tbl-row">
                    <div class="tops-tbl-details"  *ngFor="let list of item.tables">
                      <h4>{{list.TableNumber}}</h4>
                    </div>
                  </div>
              </div>
                </div>
                </form>
          </div>
         
        </div>
      </div>
  </div>
  </div>

<div class="clearfix"></div>

</div>
<!--custom confirmation box -->
<common-dialog [(visible)]="showDialog">
  <div *ngIf="isMessageEdit">
    <div class="textareaEdit">
      <textarea type="text" rows="4" [(ngModel)]="commonmessage" [disabled]="isEdit"></textarea>
      <a href="javascript:void(0)" (click)="isEdit=!isEdit">
        <span class="icon-trufl-edit-left"></span>
      </a>
    </div>
    <!--<span><button (click)="isEdit=!isEdit" class="canBtn">Edit</button></span>-->
    <span class="pull-right"><button (click)="sendMessage(commonmessage)" class="canBtn">Send</button></span>
  </div>

  <div *ngIf="!isMessageEdit">
    <div class="pad1em">{{commonmessage}}</div>
    <div class="btnDiv">
      <span><button (click)="Ok()" class="yesBtn">Yes</button></span>
      <span><button (click)="Cancel()" class="canBtn">No</button></span>
    </div>
  </div>
</common-dialog>

<!--trungetseated component -->
<!--<turnOngetseated></turnOngetseated> -->
