<shared-header></shared-header>

<div class="col-md-12"><!--  snapmain positionRelt-->
  <div class="col-md-12 col-md-12 snapmain">
    <table class="table table-responsive" id="WaitlistTbl">
        <thead>
            <tr  id="printrowheader">
                <th class="alignCenter" id="one">
                    TRUFL<br />
                    STATUS
                </th>
                <th class="alignCenter" id="two" >{{restaurantName}}</th>
                <th id="three">Guset<br /> name</th>
                <th class="alignCenter" id="four" >party<br /> size</th>
                <th class="alignCenter"  id="five">wait<br /> quoted</th>
                <th class="alignCenter"  id="six">time<br /> waited</th>
                <th class="alignCenter" id="seven">trufl offer/<br /> reservation</th>
                <th class="alignCenter" id="eight">accept<br /> offer</th>
                <th class="alignCenter" id="nine">notify</th>
                <th class="alignCenter" id="ten">print</th>
                <th class="alignCenter"  id="eleven">remove</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of truflUserList; let i=index;"  id="printrow_{{i}}" (click)="watlistUserDetails(item,i)" [class.tablerowselect]="i == selectedRow" >
                <td class="alignCenter"> <img alt="" class="imgwidth48" src="assets/images/tick.png" /> </td>
                <td class="alignCenter"> <img alt="" class="imgwidth48" src="assets/images/tick1.png" /> </td>
                <td class="fontsize18">{{item.UserName}}</td>
                <td class="nOFontStyle alignCenter">{{item.PartySize}}</td>
                <td class="nOFontStyle alignCenter">{{item.Quoted}}</td>
                <td class="nOFontStyle alignCenter">{{item.totalremainingtime}}</td>
                <td class="nOFontStyle alignCenter"><span *ngIf="item.BookingStatus===2 && item.OfferAmount>0">$</span>{{item.OfferAmount}}</td>
                <td class="alignCenter"> <a (click)="acceptoffer(item)" *ngIf="item.BookingStatus===2 && item.OfferAmount>0"><img alt="" src="assets/images/DollerSmall.png" /></a> </td>
                <td class="alignCenter"> <a (click)="notify(item)" *ngIf="item.PhoneNumber!=null"><img alt="" class="imgWidth25" src="assets/images/BellSmall.png" /> </a></td>
                <td class="alignCenter"><a href="javascript:void(0)"(click)="printrow(item)"><img alt="" src="assets/images/Printersmall.png" /></a> </td>
                <td class="alignCenter"><a (click)="Remove(item.BookingID,item); $event.stopPropagation();"><img alt="" src="assets/images/removeSmall.png" /> </a></td>
            </tr>
        </tbody>
    </table>
  <common-dialog [(visible)]="showDialog">
    <div style="color:black !important;">{{commonmessage}}</div>
    <button (click)="Ok()" class="btn">Ok</button>
    <button (click)="Cancel()" class="btn">Cancel</button>
  </common-dialog>
    <div *ngIf="wailistLoader" class="ngLoader">
      <img class="loderStyle" src="assets/images/loader.gif" />
    </div>
    <div class="addImgDiv">
      <a class="addImg"><img (click)="navigateToaddGuest()" class="addImgwidth" src="assets/images/bigadd.png" /></a>
    </div>
  </div>
</div>
<turnOngetseated></turnOngetseated>

<!--User Profile  Right Side-->
<div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="showProfile">
    <i aria-hidden="true"id="close" (click)="closeProile()" class="bladeIcon icon-close closeIconStyle"></i>
    <div class="slidetopHostess col-md-12">
           <img alt="" src="data:image/JPEG;base64,{{pic}}" />
    </div>
    <div class="col-md-12 mrgBottom10">
        <p class="pUsernm"><label >{{username}}</label></p>
        <p class="pStyles"></p>
        <p class="pStyles"></p>
</div>
    <div class="col-md-12 clearfix divImgbanner">
        <span class="ImgBorder"><button (click)="acceptoffersidenav(data)" [disabled]="data.BookingStatus===7" ><img src="assets/images/DollerSmall.png" /></button></span>
        <span class="ImgBorder"><a (click)="tablessidenav(data)"><img  src="assets/images/seatSmall.png" /></a></span>
        <span class="ImgBorder"><a (click)="Remove(bookingid); $event.stopPropagation();"><img src="assets/images/removeSmall.png" /></a></span>
        <span class="ImgBorder"><a (click)="editguest()"><img src="assets/images/editSmall.png" /></a></span>
        <span class="ImgBorder"><a (click)="printrow()"><img src="assets/images/Printersmall.png" /></a></span>
   </div>

    <div class="col-md-12" *ngFor="let item of bioData" id="biodata">
        <div class="slideform">
            <p class="pBioName">This Visit</p>
            <p class="pbioDesc">{{item.ThisVisit}}</p>

            <p class="pBioName">Relationship</p>
            <p class="pbioDesc">{{item.Relationship}}</p>

            <p class="pBioName">Seating Preferences</p>
            <p class="pbioDesc">{{item.SeatingPreferences}}</p>

            <p class="pBioName">Food & Drink Preferences</p>
            <p class="pbioDesc">{{item.FoodAndDrinkPreferences}}</p>
        </div>
     </div>
</div>
