<shared-header></shared-header>
<div class="col-md-12 mrgTop5em nopad">
  <!--
    <div class="guestmaindata" *ngIf="getServerFlyOut">
      <img (click)="showServerPanel()" class="collapsImgClose" src="assets/images/seataguestSlideimage.png" />
    </div>
  -->

    <div class="col-md-12 col11Width">
      <div class="tbl-fix">
        <div class="tbody">
          <table class="table-responsive" id="WaitlistTbl">
            <thead>
              <tr id="printrowheader">
                <th class="alignleft col-cust-bio" id="one" (click)="sortTruffleList('UserName')">
                  <span class="wl-title">Guest<br /> bio</span><span class="sorting-ico">
                    <i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'UserName' && isDesc), 'icon-trufl-sort': (column != 'UserName'), 'glyphicon-chevron-up': (column == 'UserName' && !isDesc) }" aria-hidden="true"> </i>
                  </span>
                </th>
                <th class="alignleft col-party-size" id="four" (click)="sortTruffleList('PartySize')">
                  <span class="wl-title">PARTY<br /> SIZE</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'PartySize' && isDesc), 'icon-trufl-sort': (column != 'PartySize'), 'glyphicon-chevron-up': (column == 'PartySize' && !isDesc) }" aria-hidden="true"> </i></span>
                </th>
                <th class="alignleft col-time-add" id="twelve">
                  <span class="wl-title">Time <br />Added</span>
                </th>
                <th class="alignleft col-wait-quot" id="five" (click)="sortTruffleList('Quoted')">
                  <span class="wl-title">WAIT<br /> QUOTED</span><span class="sorting-ico"><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (column == 'Quoted' && isDesc), 'icon-trufl-sort': (column != 'Quoted'), 'glyphicon-chevron-up': (column == 'Quoted' && !isDesc) }" aria-hidden="true"> </i></span>
                </th>
                <th class="alignleft col-dob" id="thirteen"><span class="wl-title">DOB</span></th>
                <th class="alignleft col-offer-reserv" id="seven"><span class="wl-title">OFFER/<br /> RESERVATION</span></th>
                <!--<th class="alignleft col-accep-offer" id="eight"><span class="wl-title">ACCEPT<br /> OFFER</span></th>
                      <th class="alignleft col-md-1 col-notify" id="nine"><span class="wl-title">NOTIFY</span></th>
              <th class="alignleft col-md-1 col-meesage" id="twelve"><span class="wl-title">MESSAGE</span></th>
              <th class="alignleft col-md-1 col-print" id="ten"><span class="wl-title">PRINT</span></th>
              <th class="alignleft col-md-1 col-remove" id="eleven"><span class="wl-title">REMOVE</span></th>-->
                <th class="alignleft" id="nine">
                  <span class="col-row-flex">
                    <span class="col-accep-offer" id="eight">
                      <span class="wl-title">ACCEPT<br /> OFFER</span>
                    </span>
                    <span class="col-notify">
                      <span class="wl-title">NOTIFY</span>
                    </span>
                    <span class="col-meesage">
                      <span class="wl-title">MESSAGE</span>
                    </span>
                    <span class="col-print">
                      <span class="wl-title">PRINT</span>
                    </span>
                    <span class="col-remove">
                      <span class="wl-title">REMOVE</span>
                    </span>
                  </span>

                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pinedwaitlist | orderBy: {property: 'timeLeft', direction: 1}; let i=index;" id="printrow_{{i}}"
                  (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
                  [style.opacity]="getOpacity(item)">
                <td class="alignleft col-cust-bio">
                  <p class="fontsize18">{{item.UserName}}</p>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span>
                      <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
                      <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
                      <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
                      <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
                    </span>
                  </span>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span>
                      <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
                      <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
                      <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
                    </span>
                  </span>
                </td>

                <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
                <td class="nOFontStyle alignleft col-time-add">{{item.TimeAdded | date:'shortTime'}}</td>
                <td class="nOFontStyle alignleft col-wait-quot">{{item.Remaining_Waittime}}</td>
                <td class="nOFontStyle alignleft col-dob">{{item.DOB| date:'MM/dd'}}</td>
                <td class="nOFontStyle alignleft col-offer-reserv">
                  <span>
                    <span *ngIf="item.OfferAmount>0">$</span>
                    <span>{{item.OfferAmount}}</span>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
                      <img src="assets/images/star_1.png" />
                    </a>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
                      <img src="assets/images/star_1.png" />
                      <img src="assets/images/star_1.png" />
                    </a>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
                      <img src="assets/images/star_2.png" />
                      <img src="assets/images/star_2.png" />
                      <img src="assets/images/star_2.png" />
                    </a>
                  </span>
                </td>


                <!-- <td class="alignleft col-accep-offer">
                        <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                          <span class="icon-trufl-offer"></span>
                        </a>
                        <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">

                          <span class="icon-trufl-seated gold-color"></span>
                        </a>


                      </td>

              <td class="alignleft col-md-1 col-notify">
                <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">

                  <span class="icon-trufl-notify"></span>
                </a>
                <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">

                  <span class="icon-trufl-seated dark-color"></span>
                </a>
              </td>
              <td class="alignleft col-md-1 col-meesage">

                <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">

                  <span class="icon-trufl-message"></span>
                </a>

              </td>
              <td class="alignleft col-md-1 col-print">
                <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">

                  <span class="icon-trufl-print"></span>
                </a>
              </td>
              <td class="alignleft col-md-1 col-remove">
                <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">

                  <span class="icon-trufl-remove"></span>
                </a>
              </td>
              -->
                <td class="alignleft">
                  <span class="col-row-flex">
                    <span class="col-accep-offer">
                      <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                        <span class="icon-trufl-offer"></span>
                      </a>
                      <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">

                        <span class="icon-trufl-seated gold-color"></span>
                      </a>
                    </span>
                    <span class="col-notify">
                      <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
                        <span class="icon-trufl-message"></span>
                      </a>
                    </span>
                    <span class="col-meesage">
                      <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
                        <span class="icon-trufl-message"></span>
                      </a>
                    </span>
                    <span class="col-print">
                      <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
                        <span class="icon-trufl-print"></span>
                      </a>
                    </span>
                    <span class="col-remove">
                      <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
                        <span class="icon-trufl-remove"></span>
                      </a>
                    </span>
                  </span>
                </td>
              </tr>
              <tr *ngFor="let item of clonedObject | orderBy: {property: column, direction: direction}; let i=index;" id="printrow_{{i}}"
                  (click)="watlistUserDetails(item,i);$event.stopPropagation();" [class.tablerowselect]="item.UserName+i == selectedRow"
                  [style.opacity]="getOpacity(item)">
                <td class="alignleft col-cust-bio">
                  <p class="fontsize18">{{item.UserName}}</p>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span>
                      <span class="icon-trufl-diamond dc-light-green" *ngIf="item.TruflMember === 1"></span>
                      <span class="icon-trufl-diamond dc-dark-green" *ngIf="item.TruflMember === 2"></span>
                      <span class="icon-trufl-diamond dc-bottle-green" *ngIf="item.TruflMember === 3"></span>
                      <span class="icon-trufl-diamond dc-fluroscent-green" *ngIf="item.TruflMember === 4"></span>
                    </span>
                  </span>
                  <span class="alignleft wlDaimond" id="dimond_{{i}}">
                    <span class="icon-trufl-diamond dc-dark-blue" *ngIf="item.RestaurantMember === 5"></span>
                    <span class="icon-trufl-diamond dc-light-blue" *ngIf="item.RestaurantMember === 6"></span>
                    <span class="icon-trufl-diamond dc-blue" *ngIf="item.RestaurantMember === 7"></span>
                  </span>
                </td>
                <td class="nOFontStyle alignleft col-party-size">{{item.PartySize}}</td>
                <td class="nOFontStyle alignleft col-time-add">{{item.TimeAdded | date:'shortTime'}}</td>
                <td class="nOFontStyle alignleft col-wait-quot">{{item.Remaining_Waittime}}</td>
                <td class="nOFontStyle alignleft col-wait-quot">{{item.DOB | date:'MM/dd'}}</td>
                <td class="nOFontStyle alignleft col-offer-reserv">

                  <span>
                    <span *ngIf="item.OfferAmount>0">$</span>
                    <span>{{item.OfferAmount}}</span>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount<=item.suggestedbid -item.increment">
                      <img src="assets/images/star_1.png" />
                    </a>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="(item.OfferAmount>item.suggestedbid -item.increment)&&(item.OfferAmount<item.suggestedbid +item.increment)">
                      <img src="assets/images/star_1.png" />
                      <img src="assets/images/star_1.png" />
                      /
                    </a>
                    <a href="javascript:void(0)" class="offer_stars" *ngIf="item.OfferAmount>=item.suggestedbid +item.increment">
                      <img src="assets/images/star_2.png" />
                      <img src="assets/images/star_2.png" />
                      <img src="assets/images/star_2.png" />
                    </a>
                  </span>
                </td>
                <!--<td class="alignleft col-accep-offer">
                        <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                          <span class="icon-trufl-offer"></span>
                        </a>
                        <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">
                          <span class="icon-trufl-seated gold-color"></span>
                        </a>
                      </td>

                <td class="alignleft col-md-1 col-notify">
                  <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">

                    <span class="icon-trufl-notify"></span>
                  </a>
                  <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">

                    <span class="icon-trufl-seated dark-color"></span>
                  </a>
                </td>
                <td class="alignleft col-md-1 col-meesage">

                  <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">

                    <span class="icon-trufl-message"></span>
                  </a>

                </td>
                <td class="alignleft col-md-1 col-print">
                  <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">

                    <span class="icon-trufl-print"></span>
                  </a>
                </td>
                <td class="alignleft col-md-1 col-remove">
                  <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">

                    <span class="icon-trufl-remove"></span>
                  </a>
                </td>
              -->
                <td class="alignleft">
                  <span class="col-row-flex">
                    <span class="col-accep-offer">
                      <a href="javascript:void(0)" (click)="changeaccepticon(item);$event.stopPropagation();" *ngIf="item.Accept === 1">
                        <span class="icon-trufl-offer"></span>
                      </a>
                      <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Accept===2">
                        <span class="icon-trufl-seated gold-color"></span>
                      </a>
                    </span>
                    <span class="col-notify">
                      <a href="javascript:void(0)" (click)="notify(item);$event.stopPropagation();" *ngIf="item.Notify === 1">
                        <span class="icon-trufl-notify"></span>
                      </a>
                      <a href="javascript:void(0)" (click)="acceptoffer(item);$event.stopPropagation();" *ngIf="item.Notify === 2">
                        <span class="icon-trufl-seated dark-color"></span>
                      </a>
                    </span>
                    <span class="col-meesage">
                      <a href="javascript:void(0)" (click)="message(item,i);$event.stopPropagation();" *ngIf="item.MobileDeviceID != null">
                        <span class="icon-trufl-message"></span>
                      </a>
                    </span>
                    <span class="col-print">
                      <a href="javascript:void(0)" (click)="printrow(item,i);$event.stopPropagation();">
                        <span class="icon-trufl-print"></span>
                      </a>
                    </span>
                    <span class="col-remove">
                      <a href="javascript:void(0)" (click)="Remove(item.BookingID,item); $event.stopPropagation();">
                        <span class="icon-trufl-remove"></span>
                      </a>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="addImgDiv">
        <a href="javascript:void(0)" class="addImg"><img (click)="navigateToaddGuest()" class="addImgwidth" src="assets/images/bigadd.png" /></a>
      </div>
    </div>

  <!--User Profile  Right Side-->

  <div class="flyOut flyOut-360 animated fadeInRight" id="profileSection" *ngIf="showProfile">

    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div class="ico-name">
            <p><span class="ico-sett icon-trufl-guest"></span></p>
            <p>Guest</p>
          </div>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="user-info">
            <div class="user-top-block">
              <a href="javascript:void(0)" (click)="closeProile()">
                <!--<img src="assets/images/cross.png" class="closeIconStyle"  />-->
                <span class="close-box icon-trufl-close"></span>
              </a>
              <div class="picture">
                  <img src="assets/images/staff.png" alt="" />
              </div>
              <h3>{{username}}</h3>
            <!--<h6>Trufl Premier Member</h6>
              <h6>La Boheme Loyalty Club V.I.P.</h6> -->
              <span class="Truflmember">
                <a href="javascript:void(0)" *ngIf="TruflMember==1">Trufl Member</a>
                <a href="javascript:void(0)" *ngIf="TruflMember==2">Trufl Club </a>
                <a href="javascript:void(0)" *ngIf="TruflMember==3">Trufl Premier</a>
                <a href="javascript:void(0)" *ngIf="TruflMember==4">Black Trufl Member</a>
              </span>
              <span class="Restaurentmember">
                <span class="icon-trufl-diamond dc-dark-blue" *ngIf="RestaurantMember === 5"></span>
                <span class="icon-trufl-diamond dc-light-blue" *ngIf="RestaurantMember === 6"></span>
                <span class="icon-trufl-diamond dc-blue" *ngIf="RestaurantMember === 7"></span>
              </span>

            </div>
            <div class="user-middle-block">


              <h6>This Visit</h6>
              <p >{{data.ThisVisit}}</p>

              <h6>Relationship</h6>
              <p>{{data.Relationship}}</p>

              <h6>Seating Preferences</h6>
              <p >{{data.SeatingPreferences}}</p>

              <h6>Food & Drink Preferences</h6>
              <p>{{data.FoodAndDrinkPreferences}}</p>


             <!-- <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p>
              <h6>This Visit</h6>
              <p>It’s Sarah’s birthday she’s turning 32</p> -->

            </div>
            <div class="user-bottom-block">
              <ul>
                <li>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-print" (click)="printrow(data,selectedrowindex)" ></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-edit" (click)="editguest()"></span>
                  </a>
                </li>
               <!-- <li>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-offer"></span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-notify"></span>
                  </a>
                </li> -->
                <li>
                  <a href="javascript:void(0)" (click)="changeaccepticon(data);$event.stopPropagation();" *ngIf="data.Accept === 1">
                    <img alt="" src="assets/images/DollerSmall.png" />
                  </a> 
                  <a  href="javascript:void(0)" (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Accept===2">
                    <span class="icon-trufl-seated dark-color"></span>
                  </a>
                  <a href="javascript:void(0)" (click)="notify(data);$event.stopPropagation();" *ngIf="data.Notify === 1">
                    <span class="icon-trufl-notify"></span>
                  </a> 
                  <a href="javascript:void(0)" (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Notify === 2">
                    <span class="icon-trufl-seated defaulcolor"></span>
                  </a>
                </li>       
              
                <li>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-remove" (click)="Remove(bookingid,username)"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div class="ico-name">
            <p><span class="ico-sett icon-trufl-server"></span></p>
            <p>Servers</p>
          </div>
        </ng-template>
        <ng-template ngbTabContent>
          Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
          <p>
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
            sint qui sapiente accusamus tattooed echo park.
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <div class="ico-name">
            <p><span class="ico-sett icon-trufl-getseatednow"></span></p>
            <p>GSN</p>
          </div>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="user-info">
            <div class="user-top-block">
              <h3>Get Seated Now</h3>
              <a href="javascript:void(0)" (click)="closeProile()">
                <!--<img src="assets/images/cross.png" class="closeIconStyle"  />-->
                <span class="close-box icon-trufl-close"></span>
              </a>
              <div class="picture">
                <span class="sopt">
                  <span class="ico-sett icon-trufl-getseatednow"></span>
                </span>
                
              </div>
              <h6>
                <span>Wanda F.</span>
                <span>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-refresh"></span>
                  </a>
                </span>
              </h6>
              <h6>Recommended Server</h6>
            </div>
            <div class="user-middle-block-gsn">
              
            </div>
            <div class="user-bottom-block-gsn">
              
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <!-- <div class="divProfileSection">
      <img src="assets/images/cross.png" class="closeIconStyle" (click)="closeProile()" />
      <div class="slidetopHostess col-md-12">
        <img alt="" src="data:image/JPEG;base64,{{pic}}" />
      </div>
      <div class="col-md-12 mrgBottom10">
        <p class="pUsernm"><label>{{username}}</label></p>
        <div class="userbio">
          <span class="Truflmember">
            <a href="javascript:void(0)" *ngIf="TruflMember==1">Trufl Member</a>
            <a href="javascript:void(0)" *ngIf="TruflMember==2">Trufl Club </a>
            <a href="javascript:void(0)" *ngIf="TruflMember==3">Trufl Premier</a>
            <a href="javascript:void(0)" *ngIf="TruflMember==4">Black Trufl Member</a>
          </span>
          <span class="Restaurentmember">
            <span class="icon-trufl-diamond dc-dark-blue" *ngIf="RestaurantMember === 5"></span>
            <span class="icon-trufl-diamond dc-light-blue" *ngIf="RestaurantMember === 6"></span>
            <span class="icon-trufl-diamond dc-blue" *ngIf="RestaurantMember === 7"></span>
          </span>

        </div>
        <p class="pStyles"></p>
        <p class="pStyles"></p>
      </div>
      <div class="col-md-12 clearfix divImgbanner">
        <span class="ImgBorder">
          <button (click)="changeaccepticon(data);$event.stopPropagation();" *ngIf="data.Accept === 1">
            <img alt="" src="assets/images/DollerSmall.png" />
          </button>
          <button (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Accept===2">
            <span class="icon-trufl-seated dark-color"></span>
          </button>
          <button (click)="notify(data);$event.stopPropagation();" *ngIf="data.Notify === 1">
            <span class="icon-trufl-notify"></span>
          </button>
          <button (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Notify === 2">
            <span class="icon-trufl-seated defaulcolor"></span>
          </button>
        </span>
        <span class="ImgBorder">
          <a href="javascript:void(0)" (click)="Remove(bookingid,username); $event.stopPropagation();">
            <span class="icon-trufl-remove"></span>
          </a>
        </span>
        <span class="ImgBorder">
          <a href="javascript:void(0)" (click)="editguest()"><img src="assets/images/editSmall.png" /></a>
        </span>
        <span class="ImgBorder">
          <a href="javascript:void(0)" (click)="printrow(data,selectedrowindex)">
            <span class="icon-trufl-print"></span>
          </a>
        </span>
      </div>
      <div class="col-md-12" id="biodata">
        <div class="slideform">
          <p class="pBioName">This Visit</p>
          <p class="pbioDesc">{{data.ThisVisit}}</p>

          <p class="pBioName">Relationship</p>
          <p class="pbioDesc">{{data.Relationship}}</p>

          <p class="pBioName">Seating Preferences</p>
          <p class="pbioDesc">{{data.SeatingPreferences}}</p>

          <p class="pBioName">Food & Drink Preferences</p>
          <p class="pbioDesc">{{data.FoodAndDrinkPreferences}}</p>
        </div>
      </div>
    </div>-->

  </div>

  <!--  <div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="showProfile">
      <div class="divProfileSection">
        <img src="assets/images/cross.png" class="closeIconStyle" (click)="closeProile()" />
        <div class="slidetopHostess col-md-12">
          <img alt="" src="data:image/JPEG;base64,{{pic}}" />
        </div>
        <div class="col-md-12 mrgBottom10">
          <p class="pUsernm"><label>{{username}}</label></p>
          <div class="userbio">
            <span class="Truflmember">
              <a href="javascript:void(0)" *ngIf="TruflMember==1">Trufl Member</a>
              <a href="javascript:void(0)" *ngIf="TruflMember==2">Trufl Club </a>
              <a href="javascript:void(0)" *ngIf="TruflMember==3">Trufl Premier</a>
              <a href="javascript:void(0)" *ngIf="TruflMember==4">Black Trufl Member</a>
            </span>
            <span class="Restaurentmember">
              <span class="icon-trufl-diamond dc-dark-blue" *ngIf="RestaurantMember === 5"></span>
              <span class="icon-trufl-diamond dc-light-blue" *ngIf="RestaurantMember === 6"></span>
              <span class="icon-trufl-diamond dc-blue" *ngIf="RestaurantMember === 7"></span>
            </span>

          </div>
          <p class="pStyles"></p>
          <p class="pStyles"></p>
        </div>
        <div class="col-md-12 clearfix divImgbanner">
          <span class="ImgBorder">
            <button (click)="changeaccepticon(data);$event.stopPropagation();" *ngIf="data.Accept === 1">
              <img alt="" src="assets/images/DollerSmall.png" />
            </button>
            <button (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Accept===2">
              <span class="icon-trufl-seated dark-color"></span>
            </button>
            <button (click)="notify(data);$event.stopPropagation();" *ngIf="data.Notify === 1">
              <span class="icon-trufl-notify"></span>
            </button>
            <button (click)="acceptoffer(data);$event.stopPropagation();" *ngIf="data.Notify === 2">
              <span class="icon-trufl-seated defaulcolor"></span>
            </button>
          </span>
          <span class="ImgBorder">
            <a href="javascript:void(0)" (click)="Remove(bookingid,username); $event.stopPropagation();">
              <span class="icon-trufl-remove"></span>
            </a>
          </span>
          <span class="ImgBorder">
            <a href="javascript:void(0)" (click)="editguest()"><img src="assets/images/editSmall.png" /></a>
          </span>
          <span class="ImgBorder">
            <a href="javascript:void(0)" (click)="printrow(data,selectedrowindex)">
              <span class="icon-trufl-print"></span>
            </a>
          </span>
        </div>
        <div class="col-md-12" id="biodata">
          <div class="slideform">
            <p class="pBioName">This Visit</p>
            <p class="pbioDesc">{{data.ThisVisit}}</p>

            <p class="pBioName">Relationship</p>
            <p class="pbioDesc">{{data.Relationship}}</p>

            <p class="pBioName">Seating Preferences</p>
            <p class="pbioDesc">{{data.SeatingPreferences}}</p>

            <p class="pBioName">Food & Drink Preferences</p>
            <p class="pbioDesc">{{data.FoodAndDrinkPreferences}}</p>
          </div>
        </div>
      </div>
    </div>-->
  <div class="clearfix"></div>
  <!--
    <div class="col-md-6 animated fadeInLeft flyout flyleft" id="servers" *ngIf="showServers">
      <div class="close-sec">
        <span class="crossIconSeatGuest">
          <a href="javascript:void(0)" (click)="closeServers()">
            <span class="icon-trufl-close"></span>
          </a>
        </span>
        <span class="collapsImg">
          <a href="javascript:void(0)" (click)="closeServers()">
            <img src="assets/images/seataguestSlideimage.png" />
          </a>
        </span>

      </div>

      <div class="sideNav">
        <div class="col-sm-12 mrgTop1em">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-inline">
                <li>
                  <a href="javascript:void(0)" class="fontSizeLarger" (click)="getServersInfo()" [ngClass]="{'activelist': select_tab =='servers'}">SERVERS</a>
                  <a href="javascript:void(0)" class="fontSizeLarger" (click)="getseated()" [ngClass]="{'activelist': select_tab =='getseated'}">GET SEATED</a>


                </li>
              </ul>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12" id="TblDiv">
              <div class="row" *ngIf="showserver">
                <div class="mrgTop2em col-sm-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="thWidth40">SERVER</th>
                        <th class="alignCenter thWidth19">TOTAL AVAILBLE</th>
                        <th class="alignCenter thWidth19">TOTAL SEATED</th>
                        <th class="alignCenter thWidth19">CHECKS DROPPED</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let server_data of  this.servers_Data">
                        <td class="sidenavTable">
                          <a href="javascript:void(0)" class="tfl_server">
                            <span><img class="serverimage" src="data:image/JPEG;base64,{{server_data.pic}}" alt="" /></span>
                            <span class="h4Style pleft-10">{{server_data.HostessName}}</span>
                          </a>
                        </td>
                        <td class="fontSize30 alignCenter">{{server_data.TotalAvailable}}</td>
                        <td class="fontSize30 alignCenter">{{server_data.TotalSeated}}</td>
                        <td class="fontSize30 alignCenter">{{server_data.ChecksDropped}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12" id="TblDiv1" *ngIf="iswaitlistOpen">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="width34">GUEST<br />NAME</th>
                        <th class="alignCenter">PARTY<br />SIZE</th>
                        <th class="alignCenter">Booked <br />At</th>
                        <th class="alignCenter">TIME <br />WAIT</th>
                        <th class="alignCenter">TRUFL OFFER/<br />RESERVATION</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user_list of waitlist">
                        <td class="sidenavTable">{{user_list.UserName}}</td>
                        <td class="fontSize30 alignCenter">{{user_list.PartySize}}</td>
                        <td class="fontSize30 alignCenter">12:34pm</td>
                        <td class="fontSize30 alignCenter">{{user_list.TimeWaited}}</td>
                        <td class="fontSize30 alignCenter">
                          <span *ngIf="user_list.OfferAmount>0">$</span>{{user_list.OfferAmount}}


                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="wailistLoader">
                    <img class="width130" src="assets/images/loader.gif" />
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="!showserver">
                <div class="mrgTop2em col-sm-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>TABLE TYPE</th>
                        <th>TABLE NO</th>
                        <th>TOTAL AVAILABLE</th>
                        <th>TABLE ALOCATED</th>
                        <th>OFFER AMOUNT</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let turnseatedList of turn_getseated let i=index">
                        <td class="fontSize30">{{turnseatedList.TableType}}</td>
                        <td class="fontSize30">{{turnseatedList.TableNumbers}}</td>
                        <td class="fontSize30">{{turnseatedList.NumberOfTables}}</td>
                        <td class="fontSize30">{{turnseatedList.TablesAllocated}}</td>
                        <td class="amountInput"><span class="glyphicon glyphicon-minus" (click)="subPrice(i)"></span><input type="text" [(ngModel)]="turnseatedList.OfferAmount" /><span class="glyphicon glyphicon-plus" (click)="addPrice(i)"></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="clearfix"></div>
                <a class="seatNowBtn" href="javascript:void(0)" (click)="moveTurnOn()">Change Table</a>
                <a class="seatNowBtn" href="javascript:void(0)" (click)="postTurnGet(turnseatedList)">Submit</a>
                <a class="seatNowBtn" href="javascript:void(0)">Cancel</a>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>
  -->
</div>
<!--custom confirmation box -->
<common-dialog [(visible)]="showDialog">
  <div *ngIf="isMessageEdit">
    <div class="textareaEdit">
      <textarea type="text" rows="4" [(ngModel)]="commonmessage" [disabled]="isEdit"></textarea>
      <a href="javascript:void(0)" (click)="isEdit=!isEdit">
        <span class="icon-trufl-edit-left"></span>
      </a>
    </div>
    <!--<span><button (click)="isEdit=!isEdit" class="canBtn">Edit</button></span>-->
    <span class="pull-right"><button (click)="sendMessage(commonmessage)" class="canBtn">Send</button></span>
  </div>

  <div *ngIf="!isMessageEdit">
    <div class="pad1em">{{commonmessage}}</div>
    <div class="btnDiv">
      <span><button (click)="Ok()" class="yesBtn">Yes</button></span>
      <span><button (click)="Cancel()" class="canBtn">No</button></span>
    </div>
  </div>
</common-dialog>

<!--trungetseated component -->
<!--<turnOngetseated></turnOngetseated> -->
