
.error_class
{
  width:96%!important;
  margin-top:14px!important;
}
#image_id {
  float: right;
  margin-top: 14px
}
.input__label--haruki::after {
  background: none !important;
}

.border_change {
  border-bottom: 1px solid red !important;
}
.border_default {
  border-bottom: 1px solid #6a7989;
}


/*.highlight1 {
  border-bottom: 1px solid red !important;
}
.previous1 {
  border-bottom: 1px solid #6a7989;
}*/
