
<div class=" col-md-12 customheaderUL">
    <div class="col-sm-4">
       <div class="accordion">
            <div>
                <ul class=" mrgBottom0PaddTop2">
                    <li>
                        <!--<input id="group-1" type="checkbox" hidden />-->
                        <label for="group-1" class="mrtBottom0Width100" >
                            <a class="sub-menu fontSixeXLg">{{restaurantName}},{{this.userName}}</a>
                            <span class="bladeIcon" *ngIf="isRestorantName"  (click)="isOpen=!isOpen" [ngClass]="{'icon-chevron-down':!isOpen ,'icon-chevron-up':isOpen}"></span>
                        </label>
                        <ul class="group-list" *ngIf="isOpen">
                            <li class="group-list-li" (click)="switchUser()" [ngClass]="{'activeLi':isLiactive}">
                                <a class="sub-menu">
                                        Switch User
                                    </a>
                           </li>
                            <li class="group-list-li" (click)="signOut()" [ngClass]="{'activeLi':isLiSignOut}">
                                <a class="sub-menu">
                                        Sign Out
                                    </a>
                           </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<div *ngIf="adminmenuLoader" class="ngLoader">
          <loaders-css [loader]="ball-spin-fade-loader" [loaderClass]="my-loader"></loaders-css>
        </div>-->
        </div>
    </div>
    
    <div class="col-sm-8 customheaderrightUL">
        <ul class="mrgLeft">
            <li *ngFor="let header of headers let i=index" class="TopOptionsUL">
                <a *ngIf="header.isShow" [routerLink]="[header.route]" [routerLinkActive]="['active']">{{header.name}}</a>
            </li>
        </ul>
    </div>
</div>