<div class="row customheaderUL">
  <div class="col-sm-4">
    <div class="accordion">
      <div>
        <ul class="mrgBottom0PaddTop2">
          <li>
            <label for="group-1" class="mrtBottom0Width100">

              <a class="sub-menu fontSixeXLg">{{restaurantName}}, {{userName}}</a>
              <span class="ddArrow" *ngIf="isRestorantName" (click)="isOpen=!isOpen">
                <!--<img src="assets/images/down-arrow.png" *ngIf="!isOpen"/>
              <img src="assets/images/up-arrow.png" *ngIf="isOpen"/>-->
                <span class="icon-trufl-arrowdown" *ngIf="!isOpen"></span>
                <span class="icon-trufl-arrowup" *ngIf="isOpen"></span>
              </span>
            </label>
            <ul class="group-list" *ngIf="isOpen">
              <li class="group-list-li " (click)="myprofile()" [ngClass]="{'activeLi':isLiactive1}">
                <a class="sub-menuLi">
                  My Profile
                </a>
              </li>
              <li class="group-list-li" (click)="switchUser()" [ngClass]="{'activeLi':isLiactive}">
                <a class="sub-menuLi">
                  Switch User
                </a>
              </li>
              <li *ngIf="managevisibility" class="group-list-li" (click)="manageUser()" [ngClass]="{'activeLi':isLiactive2}">
                <a class="sub-menuLi">
                 Manage
                </a>
              </li>
              <li class="group-list-li" (click)="signOut()" [ngClass]="{'activeLi':isLiSignOut}">
                <a class="sub-menuLi">Sign Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="col-sm-8 customheaderrightUL">
        <ul class="mrgLeft">
            <li *ngFor="let header of headers let i=index" class="TopOptionsUL">
                <a *ngIf="header.isShow" [routerLink]="[header.route]" [routerLinkActive]="['active']">{{header.name}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="scrollTop" id="scroll" style="position:fixed;bottom:10px;right: 10px;z-index:999;display:none;">
    <a href="javascript:void(0)" (click)="scrollTop()"> <img src="assets/images/scroll-to-top.png" /></a>
</div>

<common-dialog [(visible)]="showDialog">
  <!--<div *ngIf="isMessageEdit">
    <div class="textareaEdit">
      <textarea type="text" rows="4" [(ngModel)]="commonmessage" [disabled]="isEdit"></textarea>
      <a href="javascript:void(0)" (click)="isEdit=!isEdit">
        <span class="icon-trufl-edit-left"></span>
      </a>
    </div>
    <span class="pull-right"><button (click)="sendMessage(commonmessage)" class="canBtn">Send</button></span>
  </div>-->

  <div>
    <div class="pad1em">{{mangeServiceMessage}}</div>
    <div class="btnDiv">
      <span><button (click)="closeService()" class="yesBtn">Close Services</button></span>
      <!--<span><button (click)="Cancel()" class="canBtn">No</button></span>-->
    </div>
  </div>
</common-dialog>
