a {
    color: #cbcbd1;
    font-size: 22px;
    font-family: mediumAvenirNextCondensed,Medium;
    padding-bottom: 3.3px;
}

.mrgLeft{
    margin-left: 41%;
    margin-top: 1%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .mrgLeft {
        margin-left: 20%;
        margin-top: 2%;
    }
    .group-list {
        background-color: #4f5879;
        width:48%!important;
        Z-INDEX: 1;
        position: absolute;
        margin-top: 3px;
    }
}
.group-list {
    background-color: #4f5879;
    width: 36%;
    Z-INDEX: 1;
    position: absolute;
    margin-top: 3px;
}
.group-list li:first-child {
     margin-top: 5%;
}
.group-list-li {
     padding: 2% 0% 2% 7%;
     /*background-color: #9ea2b3;/*Selected li color*/
}
.group-list-li :hover{
    cursor:pointer;
}
.activeLi {
    background-color: #9ea2b3;
}
.activeLi a.sub-menu {
    color: black!important;
}
.sub-menu {
    color: #cbcbd1;
    font-family:AvenirNextCondensed,Bold;
    font-size: 22px;

}
.mrtBottom0Width100 span:hover{
  cursor:pointer;
}
