<div class="customheader">

    <div class="customheaderleft">
        <h2>Start Service</h2>
    </div>
    <div class="customheaderright">
        <!--<a class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>-->
    </div>
</div>
<div class="col-md-12 servicesmain mrgTop6em">
  <span class="servicetext">click below to close all Services. </span>
  <span><button (click)="closeService()" class="yesBtn">Close Services</button></span>
  <!--<span class="startserviceErrTxt" *ngIf="showErr"> Please Enter valid time.</span>-->
</div>

