<div class="customheader">

    <div class="customheaderleft">
        <h2>Close Service</h2>
    </div>
    <div class="customheaderright">
        <!--<a class="secondary-btn">
            Back
        </a>
        <a (click)="next()" class="primary-btn">
            Next
        </a>-->
    </div>
</div>
<div class="col-md-12 servicesmain mrgTop6em">
  <span class="servicetext">click below to close all Services. </span>
  <span><button (click)="closeService()" class="yesBtn">Close Services</button></span>
  <span><button (click)="print()" class="yesBtn"[disabled]="allowPrint">Generate report</button></span>
  <!--<span class="startserviceErrTxt" *ngIf="showErr"> Please Enter valid time.</span>-->
</div>

<div id="pdfContent" style="margin-bottom:50px;" #pdfContent>
  <!--<h6 style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    hello
  </h6>-->
  <!--<table style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center; padding:10px;">Trufl Manager Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding:10px;">Date: </td>
        <td style="padding:10px;">08/16/18 - 08/16/18</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of tables: </td>
        <td style="padding:10px;">05</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of guests:</td>
        <td style="padding:10px;">20</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of Trufl transactions:</td>
        <td style="padding:10px;">25</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total $ value of Trufl transactions:</td>
        <td style="padding:10px;">299</td>
      </tr>

    </tbody>
  </table>

  <table style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center; padding:10px;">Server1 Name</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td style="padding:10px;">Total # of tables: </td>
        <td style="padding:10px;">05</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of guests:</td>
        <td style="padding:10px;">20</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of Trufl transactions:</td>
        <td style="padding:10px;">25</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total $ value of Trufl transactions:</td>
        <td style="padding:10px;">299</td>
      </tr>
      <tr>
        <td style="padding:10px;">Avg time to turn a table:</td>
        <td style="padding:10px;">20 min</td>
      </tr>
    </tbody>
  </table>

  <table style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center; padding:10px;">Server2 Name</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td style="padding:10px;">Total # of tables: </td>
        <td style="padding:10px;">05</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of guests:</td>
        <td style="padding:10px;">20</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total # of Trufl transactions:</td>
        <td style="padding:10px;">25</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total $ value of Trufl transactions:</td>
        <td style="padding:10px;">299</td>
      </tr>
      <tr>
        <td style="padding:10px;">Avg time to turn a table:</td>
        <td style="padding:10px;">20 min</td>
      </tr>
    </tbody>
  </table>

  <table style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center; padding:10px;">Host1 Name</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td style="padding:10px;">Total # of Trufl transactions:</td>
        <td style="padding:10px;">25</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total $ value of Trufl transactions:</td>
        <td style="padding:10px;">299</td>
      </tr>
    </tbody>
  </table>

  <table style="border-bottom:1px solid #fff;margin-bottom:20px;width:600px;">
    <thead>
      <tr>
        <th colspan="2" style="text-align:center; padding:10px;">Host2 Name</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td style="padding:10px;">Total # of Trufl transactions:</td>
        <td style="padding:10px;">25</td>
      </tr>
      <tr>
        <td style="padding:10px;">Total $ value of Trufl transactions:</td>
        <td style="padding:10px;">299</td>
      </tr>
    </tbody>
  </table>-->
</div>
