<!--header-->
<shared-header></shared-header>


<div class="seated-tile-wrap auto-clear mrgTop5em">
    <div class="col-xs-12">
        <ul class="server-list">
            <li *ngFor="let staff of activeServersData; let j=index">
                <a href="javascript:void(0)" class="serverBtn"  [style.backgroundColor]="staff.HostessColor">
                    <span class="imm" [ngClass]="staff.HostessStatus == 0 ? 'blur' : ''" (click)="selectedStaff(j)">
                        {{staff.FullName}}
                    </span>
                </a>
            </li>
            <li class="pull-right">
                <a (click)="next()" class="primary-btn">
                    Save
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12" *ngFor="let items of assignServer">
        <ul class="server-list" *ngIf="items.TablesAssigned.length != 0">
            <li>
                <a>
                    <span class="imm fontStyle">
                        {{items.FullName}}
                    </span>
                </a>
            </li>
        </ul>
        <div class="table-tiles">
            <div *ngFor="let tables of items.TablesAssigned">
                <div class="seated-tile server-color-unassigned" *ngIf="tables.HostessID != 0">
                    <div class="tile-inner-wrap">
                        <div class="seated-tile-head" [style.backgroundColor]="tables.HostessColor">
                            <p>{{tables.HostessName}}<a href="javascript:void(0)" class="switchServer ico-sett icon-trufl-refresh pull-right" (click)="switchServer(tables.TableNumber)"></a></p>

                        </div>
                        <div class="col-xs-12 seated-tile-inner">
                            <div class="col-xs-7 icon-timer">
                                <div class="icon-timer-inner">
                                    <span class="icon-trufl-seated" [style.color]="tables.HostessColor"></span>
                                </div>
                            </div>
                            <div class="col-xs-7 icon-timer hidden">
                                <div class="icon-timer-inner">
                                    <span class="icon-trufl-seated"></span>
                                </div>
                                <div class="timer">
                                    <div>
                                        <span class="glyphicon glyphicon-minus"></span><input type="text" /><span class="glyphicon glyphicon-plus"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 table-info">
                                <h3 class="table-info-header">{{tables.FloorName}}</h3>
                                <div class="table-number"><span>{{tables.TableNumber}}</span></div>
                                <div class="table-fill">
                                    <span class="circle" *ngFor="let item of createRange(tables.TableType)" [style.backgroundColor]="tables.HostessColor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12">
        <ul class="server-list">
            <li>
                <a>
                    <span class="imm fontStyle">
                        Unassigned
                    </span>
                </a>
            </li>
        </ul>
        <div class="table-tiles">
            <div *ngFor="let tables of SectionTablesData; let t=index">
                <div class="seated-tile server-color-unassigned" (click)="selectedTable(t)" *ngIf="tables.AssignedTables == 0">
                    <div class="tile-inner-wrap">
                        <div class="seated-tile-head" [style.backgroundColor]="tables.HostessColor">
                            <p>{{tables.HostessName}}<a href="javascript:void(0)" class="icon-trufl-add switchServer"></a></p>
                        </div>
                        <div class="seated-tile-inner">
                            <div class="icon-timer">
                                <div class="icon-timer-inner">
                                    <span class="icon-trufl-seated" [style.color]="tables.HostessColor"></span>
                                </div>
                            </div>
                            <div class="table-info">
                                <h3 class="table-info-header">{{tables.FloorName}}</h3>
                                <div class="table-number"><span>{{tables.TableNumber}}</span></div>
                                <div class="table-fill">
                                    <span class="circle" *ngFor="let item of createRange(tables.TableType)" [style.backgroundColor]="tables.HostessColor"></span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--<div class="col-md-12 col-sm-12 snapmain"  id="Byserverdiv">
  <table class="table table-responsive tblMrgTop">
    <thead>
      <tr>
        <th class="thWidth20">SERVER</th>
        <th class="alignCenter thWidth15">TOTAL AVAILABLE</th>
        <th class="alignCenter thWidth15">TOTAL SEATED</th>
        <th class="alignCenter thWidth15">CHECKS DROPPED</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of servers_Data">
        <td>
          <a>
            <img class="opacityUnset" src="data:image/JPEG;base64,{{list.pic}}" alt="" />
            <h4 class="h4Style">
              {{list.HostessName}}
            </h4>
          </a>
        </td>
        <td class="alignCenter nOFontStyle">{{list.TotalAvailable}}</td>
        <td class="alignCenter nOFontStyle">{{list.TotalSeated}}</td>
        <td class="alignCenter nOFontStyle">{{list.ChecksDropped}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>-->
