/*.available-error{
  position:relative;
}
  .available-error .trungetseatednow {
    position: absolute;
    left: 0;
    top: -28px;
    display: block;
    background: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    text-shadow: none;
    font-family: helvetica, sans-serif;
  }*/

.imgDivHeight {
  height: auto;
  position: relative;
  padding: 15px 0 0 0;
  text-align: center;
  vertical-align: middle;
  display: block;
}

.seatedNumber {
  position: absolute;
  left: 0;
  top: 45px;
  font-size: 2.4rem;
  font-weight: bold;
  display: block;
  width: 100%;
}
.col-md-12.selectguest.mrgTop9em {
  overflow-y: auto;
  max-height: 100%;
  margin: 0px 0 0 0px !important;
}

.paddingLftBtm {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 24px;
}
.divBorder {
  border: 1px solid white !important;
}
