

<div>

    <form novalidate #form="ngForm" (ngSubmit)="form.valid && onSubmit(form.value,form)">

        <div class="customheader">

            <div class="customheaderleft">
                <h2>Add A Reservation</h2>
            </div>
            <div class="customheaderright" style="padding-top:3%;">

                <button type="submit" class="primary-btn" style="float: right;margin-right: 9%;">
                    Save Reservation
                </button>
            </div>

        </div>

        <div class="col-md-12" style="margin-top: 5%;">
            <div class="col-md-6">
                <div class="col-md-8 col-md-offset-3">

                    <p class="fontStyling">{{selectdate|date:'EEEE'|uppercase}},{{selectdate|date:'MMMM'|uppercase}}{{selectdate|date:'d'}}</p>
                    <br />

                    <div class="date-select" role="application">
                        <div class="popup-menu tn-date-selector-popup tn-date-selector-menu" id="tn_calendar" *ngIf="isActive">
                            <div class="menu" tn-off-click="onOffClick_event();">
                                <div class="tn-date-selector">
                                    <div class="tn-datepicker-title"></div>
                                    <div class="tn-datepicker-calender">
                                        <div class="tn-datepicker-nav">
                                            <button type="button" class="tn-datepicker-nav-button bladeIcon icon-chevron-left" (click)="prev()"
                                                    name="previous" id="prev"></button>
                                            <span class="month-label">{{month.format("MMMM YYYY")}}</span>
                                            <button type="button" class="tn-datepicker-nav-button bladeIcon icon-chevron-right"
                                                    (click)="next()" name="next" id="nxt"></button>
                                        </div>
                                        <div class="tn-datepicker-row">
                                            <span class="tn-datepicker-col text-center"
                                                  *ngFor="let dayLabel of daysInWeek">
                                                <span class="tn-datepicker-day-label" title="{{dayLabel.title}}">{{dayLabel.day}}</span>
                                            </span>
                                        </div>
                                        <div class="tn-datepicker-row" *ngFor="let week of weeks">
                                            <span class="tn-datepicker-col" *ngFor="let day of week.days">
                                                <div tabindex="-1" class="tn-datepicker-day" (click)="onDayClick(day);" name="selected" [ngClass]="getDayCls(day,datesOfInterest)">
                                                    <button type="button" [ngClass]="{'my-class':Year_Change <currentYear || (Month_Change<currentMonth && Year_Change <=currentYear ) || (day.number<currentDay && Year_Change==currentYear && Month_Change==currentMonth)}" [disabled]="Year_Change <currentYear || (Month_Change<currentMonth && Year_Change <=currentYear ) || (day.number<currentDay && Year_Change==currentYear && Month_Change==currentMonth)">{{day.number}}</button>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--calendar code end-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10 col-md-offset-0">
                    <span class="servicetime" style="background:none;border:none;">
                        <input type="time" name="time" [(ngModel)]="data.time" #time="ngModel" required>
                    </span>

                    <label *ngIf="time.invalid && (time.dirty || time.touched || form.submitted)" [ngStyle]="{'color': 'red'}">
                        <label *ngIf="time.errors.required ">
                            Please select time.
                        </label>
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

<div class="col-md-12 bottombuttons">
    <i aria-hidden="true" id="close" (click)="cancel()" class="bladeIcon icon-close cancelIconStyle"><span>Cancel</span></i>
</div>


<script src="~/js/classie.js"></script>

<script>
    (function () {

        if (!String.prototype.trim) {
            (function () {

                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {

            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }


            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();



</script>


