.loader-hidden {
  visibility: hidden;
}

.loader-overlay {
  position: fixed;
  width: 100%;
  top: calc(60% - 300px);
  left: 1%;
  opacity: 1;
  z-index: 500000;
  text-align: center;
}

.loderStyle {
  display: inline-block;
  text-align: center;
  margin:0px !important;
}
