@font-face {
  font-family: 'icomoon';
  src:  url('font-face/icomoon.eot?u8taw1');
  src:  url('font-face/icomoon.eot?u8taw1#iefix') format('embedded-opentype'),
    url('font-face/icomoon.ttf?u8taw1') format('truetype'),
    url('font-face/icomoon.woff?u8taw1') format('woff'),
    url('font-face/icomoon.svg?u8taw1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-trufl-gsn:before {
  content: "\e917";
}

.icon-trufl-gsn-applied:before {
  content: "\e918";
}

.icon-trufl-time:before {
  content: "\e916";
}

.icon-trufl-slow:before {
  content: "\e934";
}

.icon-trufl-waiter-closed .path1:before {
  content: "\e935";
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path8:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path9:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path10:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path11:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path12:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path13:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path14:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-closed .path15:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-trufl-waiter-closed .path16:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-trufl-waiter-opened:before {
  content: "\e924";
}

.icon-trufl-server:before {
  content: "\e925";
}

.icon-trufl-seat:before {
  content: "\e926";
}

.icon-trufl-refresh:before {
  content: "\e927";
}

.icon-trufl-opened-a:before {
  content: "\e928";
}

.icon-trufl-opened-b:before {
  content: "\e929";
}

.icon-trufl-nightlife:before {
  content: "\e92a";
}

.icon-trufl-fastcasual:before {
  content: "\e92b";
}

.icon-trufl-getseatednow:before {
  content: "\e92c";
}

.icon-trufl-guest:before {
  content: "\e92d";
}

.icon-trufl-info:before {
  content: "\e92e";
}

.icon-trufl-closing-a:before {
  content: "\e92f";
}

.icon-trufl-closing-b:before {
  content: "\e930";
}

.icon-trufl-checkdrop2:before {
  content: "\e931";
}

.icon-trufl-checkdrop-tick:before {
  content: "\e932";
}

.icon-trufl-add:before {
  content: "\e933";
}

.icon-trufl-arrowdown:before {
  content: "\e900";
}

.icon-trufl-arrowleft:before {
  content: "\e901";
}

.icon-trufl-arrowright:before {
  content: "\e902";
}

.icon-trufl-arrowup:before {
  content: "\e903";
}

.icon-trufl-checkdrop:before {
  content: "\e904";
}

.icon-trufl-close:before {
  content: "\e905";
}

.icon-trufl-diamond:before {
  content: "\e906";
}

.icon-trufl-dropchecked:before {
  content: "\e907";
}

.icon-trufl-edit:before {
  content: "\e908";
}

.icon-trufl-edit-left:before {
  content: "\e909";
}

.icon-trufl-edit-right:before {
  content: "\e90a";
}

.icon-trufl-emptytable:before {
  content: "\e90b";
}

.icon-trufl-jump:before {
  content: "\e90c";
}

.icon-trufl-message:before {
  content: "\e90d";
}

.icon-trufl-notify:before {
  content: "\e90e";
}

.icon-trufl-offer:before {
  content: "\e90f";
}

.icon-trufl-print:before {
  content: "\e910";
}

.icon-trufl-remove:before {
  content: "\e911";
}

.icon-trufl-seated:before {
  content: "\e912";
}

.icon-trufl-slow2:before {
  content: "\e913";
}

.icon-trufl-sort:before {
  content: "\e914";
}

.icon-trufl-star:before {
  content: "\e915";
}
