<div class="customheader">
  <div class="customheaderleft">
    <h2>Seat A Guest</h2>
  </div>
  <div class="customheaderright">
    <button type="submit" *ngIf="unique_id == 'addguest'" (click)="back()" 
            class="primary-btn confBtn changcolor">
      Back
    </button>
    <button type="submit" (click)="confirm(template,addserver)" [disabled]="toogleBool" [ngClass]="active==true?'changcolor' : 'default'"
            class="primary-btn confBtn">
      Confirm
    </button>
    <span *ngIf="showmessage" class="errorMsgStyle"><img src="assets/images/error.jpg" />{{error_message}}</span>
  </div>
</div>

<!--<button class="guestmaindata" (click)="showFlyout()" *ngIf="flyOutBtn"></button>-->

<div class="container-fluid mrgTop6em seataGuestContainer">
  <div class="row">
    <div class="col-md-12 seatedTbl overflow-hidden snapShotLeft" [ngClass]="[showProfile===true ? 'col-md-8 col-xs-6 fly-opened':'col-md-12 fly-close']">

      <div class="seated-tile-wrap" *ngIf="show">
        <div class="guesttitlecol6 col-xs-12">
          <div class="col-md-4 col-xs-12">
            <h3 class="guestinfo">{{user_accept.UserName}}, Party of {{user_accept.PartySize}} </h3>
            <p class="detailsP">Seating Preferences: {{user_accept.SeatingPreferences}}</p>
          </div>
          <div class="col-md-8 col-xs-12">
            <ul class="server-list pull-right">
              <li *ngFor="let seatedimagesdata of filterHostids">
                <a href="javascript:void(0)" class="serverBtn" [style.backgroundColor]="seatedimagesdata.HostessColor"
                   (click)="gethostess(seatedimagesdata.HostessID)">
                  {{seatedimagesdata.HostessName}}
                  <span class="">
                    {{seatedimagesdata.OccupancyPer}}%
                  </span>

                </a>
              </li>
            </ul>
            <p *ngIf="serverfilterError" class="errorMsgStyle">Tables are not assigned to this server</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="guest-container">
          <div *ngFor="let topNum of Tbltypes">
            <h2>{{topNum}}-Tops</h2>
            <ul class="table-tiles">
              <li *ngFor="let list of finalArray|tablefilter:topNum">
                <div class="seated-tile" (click)="selectseats(list)">
                  <div class="tile-inner-wrap" [ngClass]="{'divBorder':list.TableStatus=== true}">
                    <div class="seated-tile-head" *ngIf="list.HostessID!=0" [style.backgroundColor]="list.HostessColor">
                      <p>{{list.HostessName}}<a href="javascript:void(0)" class="switchServer icon-trufl-refresh"></a></p><!--  -->
                    </div>

                    <div class="seated-tile-head" *ngIf="list.HostessID==0" [style.backgroundColor]="list.HostessColor">
                      <p>{{list.HostessName}}<a (click)="AddServers(addserver,list);$event.stopPropagation();" href="javascript:void(0)" class="icon-trufl-add switchServer"></a></p>
                    </div>

                    <div class="col-xs-12 seated-tile-inner">
                      <div class="col-xs-7 icon-timer">
                        <div class="icon-timer-inner">
                          <span class="icon-trufl-seated" [ngStyle]="{'color':list.HostessColor}"></span>
                        </div>
                      </div>
                      <div class="col-xs-5 table-info">
                        <h3 class="table-info-header">{{list.FloorName}}</h3>
                        <div class="table-number"><span>{{list.TableNumber}}</span></div>
                        <div class="table-fill">
                          <span class="circle" *ngFor="let item of createRange(list.TableType)"></span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="seataGuestCancel">
            <span class="spancloseIconStyle" (click)="PreviousPage()">
              <img src="assets/images/cross.png">  Cancel
            </span>
          </div>
        </div>
      </div>

      <div class="seated-tile-wrap auto-clear" *ngIf="!show">

        <div class=" guesttitlecol6">
          <div class="col-xs-5">
            <h3 class="guestinfo">{{user_accept.UserName}}, Party of {{user_accept.PartySize}} </h3>
            <p class="detailsP">Seating Preferences: {{user_accept.SeatingPreferences}}</p>
          </div>
          <div class="col-xs-7">
            <ul class="server-list">
              <li class="servers-name-list" *ngFor="let seatedimagesdata of filteredhostessArray">
                <a href="javascript:void(0)" class="serverBtn" *ngIf='seatedimagesdata?.HostessColor' [style.backgroundColor]="seatedimagesdata.HostessColor"
                   (click)="gethostess(seatedimagesdata.HostessID)">
                  {{seatedimagesdata.HostessName}}
                  <span class="icon-trufl-close"></span>
                </a>

              </li>
            </ul>
          </div>
        </div>

        <ul class="table-tiles">
          <li *ngFor="let list of filteredarray">
            <div class="seated-tile" (click)="selectseats(list)">
              <div class="tile-inner-wrap" [ngClass]="{'divBorder':list.TableStatus=== true}">
                <div class="seated-tile-head" *ngIf="list.HostessID!=0" [style.backgroundColor]="list.HostessColor">
                  <p>{{list.HostessName}}<a href="javascript:void(0)" class="icon-trufl-refresh switchServer"></a></p>
                </div>
                <div class="seated-tile-head" *ngIf="list.HostessID==0" [style.backgroundColor]="list.HostessColor">
                  <p>{{list.HostessName}}<a (click)="AddServers(addserver,list);$event.stopPropagation()" href="javascript:void(0)" class="icon-trufl-add switchServer"></a></p>
                </div>


                <div class="col-xs-12 seated-tile-inner">
                  <div class="col-xs-7 icon-timer">
                    <div class="icon-timer-inner">
                      <span class="icon-trufl-seated" [ngStyle]="{'color':list.HostessColor}"></span>
                    </div>
                  </div>
                  <div class="col-xs-5 table-info">
                    <h3 class="table-info-header">{{list.FloorName}}</h3>
                    <div class="table-number">{{list.TableNumber}}</div>
                    <div class="table-fill">
                      <span class="circle" *ngFor="let item of createRange(list.TableType)"></span>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
  <div class="seataGuestCancel">
    <span class="spancloseIconStyle" (click)="PreviousPage()">
      <img src="assets/images/cross.png">  Cancel</span>
  </div>
      </div>     

      <!-- <div *ngIf="!hasData()">No Data Found</div> -->
    </div>
    <!--User Profile  Right Side-->
    <div class="col-md-4 col-xs-6 seataGuestRight flyOut normal animated fadeInRight no-pad"
         [ngClass]="[showProfile===true ? 'fly-max':'fly-min']">
      <a href="javascript:void(0)" (click)="closeProile()" *ngIf="showProfile">
        <span class="close-box icon-trufl-close"></span>
      </a>

      <ul role="tablist">
        <li class="">
          <a class="nav-link " href="javascript:void(0)" role="tab"
             (click)="SeatGuestflyoutClicks();"
             [ngClass]="[guestWaitflyout===true ? 'active':'nav-link ']">

            <div class="ico-name">
              <p><span class="ico-sett icon-trufl-waitlist"></span></p>
              <p>Waitlist</p>
            </div>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" role="tab"
             (click)="guestServersflyoutClicks();"
             [ngClass]="[guestServersflyout===true ? 'active':'nav-link ']">

            <div class="ico-name">
              <p><span class="ico-sett icon-trufl-server"></span></p>
              <p>Servers</p>
            </div>

          </a>
        </li>
      </ul>
      <div class="fly-tab-content no-top-block no-bottom-block">
        <div role="tabpanel" *ngIf="guestWaitflyout">
          <div class="user-info no-top-block no-bottom-block">
            <div class="user-middle-block">
              <div class="waitlistServers">
                <h3>Waitlist</h3>
                <div class="tbl-fix">
                  <div class="thead">
                    <table class="table sgFly-waitList-tbl">
                      <thead>
                        <tr>
                          <th class="col-guest-sgFly">GUEST<br />NAME</th>
                          <th class="col-partySize-sgFly">PARTY<br />SIZE</th>
                          <th class="col-timeWait-sgFly">TIME <br />WAIT</th>
                          <th class="col-tOffer-sgFly">TRUFL OFFER/<br />RESERVATION</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="tbody">
                    <table class="table sgFly-waitList-tbl">
                      <tbody>
                        <tr *ngFor="let user_list of waitlist">
                          <td class="col-guest-sgFly">{{user_list.UserName}}</td>
                          <td class="col-partySize-sgFly">{{user_list.PartySize}}</td>
                          <td class="col-timeWait-sgFly">{{user_list.TimeWaited}}</td>
                          <td class="col-tOffer-sgFly">
                            <span *ngIf="user_list.OfferAmount>0">$</span>
                            <span>{{user_list.OfferAmount}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--<table class="table sgFly-waitList-tbl">
                <thead>
                  <tr>
                    <th class="col-guest-sgFly">GUEST<br />NAME</th>
                    <th class="col-partySize-sgFly">PARTY<br />SIZE</th>
                    <th class="col-timeWait-sgFly">TIME <br />WAIT</th>
                    <th class="col-tOffer-sgFly">TRUFL OFFER/<br />RESERVATION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user_list of waitlist">
                    <td class="col-guest-sgFly">{{user_list.UserName}}</td>
                    <td class="col-partySize-sgFly">{{user_list.PartySize}}</td>
                    <td class="col-timeWait-sgFly">{{user_list.TimeWaited}}</td>
                    <td class="col-tOffer-sgFly">
                      <span *ngIf="user_list.OfferAmount>0">$</span>
                      <span>{{user_list.OfferAmount}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>-->
              </div>

            </div>
          </div>
        </div>

        <div role="tabpanel" *ngIf="guestServersflyout">
          <div class="user-info no-top-block no-bottom-block">

            <div class="user-middle-block">
              <div class="waitlistServers">
                <h3>SERVERS</h3>
                <div class="clearfix"></div>

                <div class="tbl-fix">
                  <div class="thead">
                    <table class="table sgFly-servers-tbl">
                      <thead>
                        <tr>
                          <th class="col-server-sgFly">SERVER</th>
                          <th class="col-avail-sgFly"><p>Open</p><p>Tables</p></th>
                          <th class="col-seate-sgFly"><p>Seated</p><p>Tables</p></th>
                          <th class="col-checks-Fly"><p>Checks</p><p>Dropped</p></th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="tbody">
                    <table class="table sgFly-servers-tbl">
                      <tbody>
                        <tr *ngFor="let items of servers">
                          <td class="col-server-sgFly">
                            <div class="serverPic"><img src="data:image/JPEG;base64,{{items.pic}}" alt="image" /></div>
                            <div class="serverName">
                              <p>{{items.HostessName}}</p>
                              <p>{{items.OccupancyPer}}%</p>
                            </div>
                          </td>
                          <td class="col-avail-sgFly"><span>{{items.TotalAvailable}}</span></td>
                          <td class="col-seate-sgFly"><span>{{items.TotalSeated}}</span></td>
                          <td class="col-checks-Fly"><span>{{items.ChecksDropped}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!--<table class="table sgFly-servers-tbl">
                <thead>
                  <tr>
                    <th class="col-server-sgFly">SERVER</th>
                    <th class="col-avail-sgFly">AVAIL.</th>
                    <th class="col-seate-sgFly">SEATE</th>
                    <th class="col-checkssgFly">CHECKS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let items of servers">
                    <td class="col-server-sgFly">
                      <span class="serverPic"><img src="data:image/JPEG;base64,{{items.pic}}" alt="image" /></span>
                      <span class="serverName">
                        <p>{{items.HostessName}}</p>
                        <p>{{items.OccupancyPer}}%</p>
                      </span>
                    </td>
                    <td class="col-avail-sgFly"><span>{{items.TotalAvailable}}</span></td>
                    <td class="col-seate-sgFly"><span>{{items.TotalSeated}}</span></td>
                    <td class="col-checkssgFly"><span>{{items.ChecksDropped}}</span></td>
                  </tr>
                </tbody>
              </table>-->
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<ng-template #template class="modal fade">
  <div id="switchServerModal" [hidden]="ModalpopupShow" (keyup)="dismissmodal()">

    <div class="modal-content modalBgColoor fontColor modalwidth">
      <div class="modal-header">
        <button type="button" class="close" (click)="dismissmodal()">

          <span class="icon-trufl-close closeIconStyle"></span>
        </button>
      </div>
      <div class="modal-body modalBody">
        <div class="switchUserDiv col-md-12">
          <div class="col-md-12 col-sm-12 snapmain" id="Byserverdiv">
            <table class="table table-responsive tblMrgTop">
              <thead>
                <tr>
                  <th class="thWidth20">SERVER</th>
                  <th class="alignCenter thWidth15">TOTAL AVAILABLE</th>
                  <th class="alignCenter thWidth15">TOTAL SEATED</th>
                  <th class="alignCenter thWidth15">CHECKS DROPPED</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of servers_info;let i = index" (click)="choseservers($event,list,i)" [class.tablerowselect]="list.HostessName == selectedRow">
                  <td>
                    <a>
                      <img class="opacityUnset" src="data:image/JPEG;base64,{{list.pic}}" alt="" />
                      <h4 class="h4Style">
                        {{list.HostessName}}
                      </h4>
                    </a>
                  </td>
                  <td class="alignCenter nOFontStyle">{{list.TotalAvailable}}</td>
                  <td class="alignCenter nOFontStyle">{{list.TotalSeated}}</td>
                  <td class="alignCenter nOFontStyle">{{list.ChecksDropped}}</td>
                  <!--<td><input class="check-set" type="checkbox" name="servers" [checked]="i==currentindex" (ngModelChange)="$event ? currentindex = i : currentindex = -1" (change)="choseservers($event,list,i)" /></td>-->
                </tr>
              </tbody>
            </table>
            <button class="primary-btn btn-120" name="btn" [disabled]="!popUpServerSelected"(click)="postServers()">Submit</button>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #addserver class="modal fade">
  <div id="switchServerModal" [hidden]="ModalpopupShow" (keyup)="dismissmodal()">

    <div class="modal-content modalBgColoor fontColor modalwidth">
      <div class="modal-header">
        <button type="button" class="close" (click)="dismissmodal()">

          <span class="icon-trufl-close closeIconStyle"></span>
        </button>
      </div>
      <div class="modal-body modalBody">
        <div class="switchUserDiv col-md-12">
          <div class="col-md-12 col-sm-12 snapmain" id="Byserverdiv">
            <div class="col-md-4 padBottom20" *ngFor="let item of unassignedservers">
              <div class="modal-server">
                <a href="javascript:void(0)" (click)="selectservers(item);postselectedserver()" class="modal-profile-pic">
                  <img src="data:image/JPEG;base64,{{item.pic}}" alt="" />

                </a>
                <a class="modal-server-details">
                  <h3>
                    {{item.HostessName}}
                  </h3>
                  <p>{{item.OccupancyPer}}%</p>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>           
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

