
<div class="customheader">
  <div class="customheaderleft">
    <h2>Seat A Guest</h2>
  </div>
  <div class="customheaderright">
    <button type="submit" (click)="confirm()"  [disabled]="toogleBool" [ngClass]="active==true?'changcolor' : 'default'" class="primary-btn confBtn">
      Confirm
    </button>
    <span *ngIf="showmessage" class="errorMsgStyle"><img src="assets/images/error.jpg" />{{error_message}}</span>
  </div>
</div>

<div class="col-md-12 PadZero">
  <div class="col-md-1 guestmaindata" *ngIf="!issideOpen">
    <img (click)="issideOpen=true" class="collapsImgClose" src="assets/images/seataguestSlideimage.png" />
  </div>

  <div class="col-md-6 animated fadeInLeft" id="profileSection" *ngIf="issideOpen">
    <div class="col-md-11 sideNav">
      <div class="col-sm-12 mrgTop1em">
        <div class="col-sm-12">
          <ul class="list-inline">
            <li><a (click)="getwaitlist()" class="fontSizeLarger" [ngClass]="{'activelist': select_tab =='waitlist'}">WAITLIST</a></li>
            <li><a (click)="getservers()" class="fontSizeLarger" [ngClass]="{'activelist': select_tab =='servers'}">SERVERS</a></li>
          </ul>
        </div>
        <div class="col-sm-12"  id="TblDiv">
          <div class="mrgTop2em col-sm-12" *ngIf="isserversOpen">
            <table class="table">
              <thead>
              <tr>
                <th class="thWidth40">SERVER</th>
                <th class="alignCenter thWidth19">TOTAL AVAILBLE</th>
                <th class="alignCenter thWidth19">TOTAL SEATED</th>
                <th class="alignCenter thWidth19">CHECKS DROPPED</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let server_data of servers">
                <td class="sidenavTable">
                  <a>
                    <img class="serverimage" src="data:image/JPEG;base64,{{server_data.pic}}" alt="" />
                    <h4 class="h4Style">
                      {{server_data.HostessName}}
                    </h4>
                  </a>
                </td>
                <td class="fontSize30 alignCenter">{{server_data.TotalAvailable}}</td>
                <td class="fontSize30 alignCenter">{{server_data.TotalSeated}}</td>
                <td class="fontSize30 alignCenter">{{server_data.ChecksDropped}}</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="serversLoader">
              <img class="width130"  src="assets/images/loader.gif" />
            </div>
          </div>
          <div class="col-sm-12" id="TblDiv1"  *ngIf="iswaitlistOpen">
            <table class="table">
              <thead>
              <tr>
                <th class="width34">GUEST<br />NAME</th>
                <th class="alignCenter">PARTY<br />SIZE</th>
                <th class="alignCenter">TIME <br />WAITE</th>
                <th class="alignCenter">TRUFL OFFER/<br />RESERVATION</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user_list of waitlist">
                <td class="sidenavTable">{{user_list.UserName}}</td>
                <td class="fontSize30 alignCenter">{{user_list.PartySize}}</td>
                <td class="fontSize30 alignCenter">{{user_list.totalremainingtime}}</td>
                <td class="fontSize30 alignCenter">{{user_list.OfferAmount}}</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="wailistLoader">
              <img class="width130" src="assets/images/loader.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <i aria-hidden="true" id="close" (click)="issideOpen=false" class="bladeIcon icon-close closeIconStyle Top1em"></i>
      <img (click)="issideOpen=false" class="collapsImg" src="assets/images/seataguestSlideimage.png" />
    </div>
  </div>

  <div class="col-md-11 guestmain mrgLeft1em col11Width" *ngIf="!issideOpen">
    <div class="row">
      <div class="col-md-5 guesttitle">
        <h3 class="fontweightBold">{{user_accept.UserName}}, Party of {{user_accept.PartySize}} </h3>
        <p>Seating Preferences: {{user_accept.SeatingPreferences}}</p>
      </div>
      <div class="col-md-7 guesttabs divStyl" *ngIf="show">
        <ul>
          <li *ngFor="let seatedimagesdata of filterHostids">
            <button class="HostNmBtn" [ngStyle]="style[seatedimagesdata.HostessID]" (click)="gethostess(seatedimagesdata.HostessID)">{{seatedimagesdata.HostessName}}</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-7 guesttabs divStyl" *ngIf="!show">
        <ul>
          <li *ngFor="let seatedimagesdata of filteredhostessArray">
            <button class="HostNmBtn" [ngStyle]="style[seatedimagesdata.HostessID]" (click)="gethostess(seatedimagesdata.HostessID)"><span><i _ngcontent-3965-5="" aria-hidden="true" class="bladeIcon icon-close hostessBtnClose" id="close"></i></span>{{seatedimagesdata.HostessName}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="selectguestDiv col-md-12" *ngIf="show">
      <div class="col-md-12 padLeft7 mrgbottom4em">
        <div class="col-sm-2 paddingLftBtm" *ngFor="let tblList of seatguestdetails let i=index">
          <div class="divCol2Style" (click)="selectseats(tblList)" [ngClass]="{'divBorder':tblList.TableStatus=== true}" [ngStyle]="style[tblList.HostessID]">
            <div class="imgDivHeight imgDivLeft8Top2 top25" *ngIf="tblList.TableType ==2">
              <img src="assets/images/Group 794.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft10Top6 top25" *ngIf="tblList.TableType==4">
              <img src="assets/images/Group 804.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber <10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft10Top6" *ngIf="tblList.TableType==6">
              <img src="assets/images/Group 806.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==8">
              <img src="assets/images/Group 817.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber <10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <!--<div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==10">
                <img src="assets/images/Group 810.png" />
                <span [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>-->
            <div class="padtop28">
              <p class="mrg0 pEllipsis">{{tblList.FloorName}}</p>
              <p class="padLeft15">{{tblList.HostessName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="SeatAGuestTblLoader" class="ngLoader col-md-12">
        <img class="loderStyle" src="assets/images/loader.gif" />
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="selectguestDiv col-md-12" *ngIf="!show">
      <div class="col-md-12 padLeft7 mrgbottom4em">
        <div class="col-sm-2 paddingLftBtm" *ngFor="let tblList of filteredarray let i=index">
          <div class="divCol2Style" (click)="selectseats(tblList)" [ngClass]="{'divBorder':tblList.TableStatus=== true}" [ngStyle]="style[tblList.HostessID]">
            <div class="imgDivHeight imgDivLeft8Top2 top25" *ngIf="tblList.TableType ==2">
              <img src="assets/images/Group 794.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft10Top6 top25" *ngIf="tblList.TableType==4">
              <img src="assets/images/Group 804.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber <10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft10Top6" *ngIf="tblList.TableType==6">
              <img src="assets/images/Group 806.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==8">
              <img src="assets/images/Group 817.png" />
              <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
              <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>
            <!--<div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==10">
                <img src="assets/images/Group 810.png" />
                <span [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
            </div>-->
            <div class="padtop28">
              <p class="mrg0 pEllipsis">{{tblList.FloorName}}</p>
              <p class="padLeft15">{{tblList.HostessName}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12 cancleBtnDivBig">
      <div class="col-md-2 col-md-offset-10">
        <span class="cancleStyle mrgLeft28"><i aria-hidden="true" class="bladeIcon icon-close closeIconSpn" (click)="PreviousPage()"></i> Cancel</span>

      </div>
    </div>
  </div>

  <div class="col-md-6 guestmain heightCal" *ngIf="issideOpen">
    <div class="row">
      <div class="col-md-12 guesttitlecol6">
        <h3 class="guestinfo">{{user_accept.UserName}}, Party of {{user_accept.PartySize}} </h3>
        <p>Seating Preferences: {{user_accept.SeatingPreferences}}</p>
      </div>
      <div class="col-md-12 guesttabs6Col" *ngIf="show">
        <ul>
          <li *ngFor="let seatedimagesdata of filterHostids">
            <button class="HostNmBtn" [ngStyle]="style[seatedimagesdata.HostessID]" (click)="gethostess(seatedimagesdata.HostessID)">{{seatedimagesdata.HostessName}}</button>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12 guesttabs padRight" *ngIf="!show">
        <ul>
          <li *ngFor="let seatedimagesdata of filteredhostessArray">
            <button class="HostNmBtn" [ngStyle]="style[seatedimagesdata.HostessID]" (click)="gethostess(seatedimagesdata.HostessID)"><span><i _ngcontent-3965-5="" aria-hidden="true" class="bladeIcon icon-close hostessBtnClose" id="close"></i></span>{{seatedimagesdata.HostessName}}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 selectguest" *ngIf="show">
      <div class="col-sm-4 paddingLftBtm" *ngFor="let tblList of seatguestdetails let i=index">
        <div class="divCol2Style" (click)="selectseats(tblList)" [ngClass]="{'divBorder':tblList.TableStatus=== true}" [ngStyle]="style[tblList.HostessID]">
          <div class="imgDivHeight imgDivLeft8Top2 top25" *ngIf="tblList.TableType ==2">
            <img src="assets/images/Group 794.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft10Top6 top25" *ngIf="tblList.TableType==4">
            <img src="assets/images/Group 804.png" />
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber <10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft10Top6" *ngIf="tblList.TableType==6">
            <img src="assets/images/Group 806.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==8">
            <img src="assets/images/Group 817.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <!--<div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==10">
              <img src="assets/images/Group 810.png" />
              <span [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>-->
          <div class="padtop28">
            <p class="mrg0 pEllipsis">{{tblList.FloorName}}</p>
            <p class="padLeft15">{{tblList.HostessName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="SeatAGuestTblLoader" class="ngLoader col-md-12">
        <img class="loderStyle" src="assets/images/loader.gif" />
      </div>
    </div>

    <div class="col-md-12 selectguest" *ngIf="!show" id="HostWiseTblDiv">
      <div class="col-sm-4 paddingLftBtm" *ngFor="let tblList of filteredarray let i=index">
        <div class="divCol2Style" (click)="selectseats(tblList)" [ngClass]="{'divBorder':tblList.TableStatus=== true}" [ngStyle]="style[tblList.HostessID]">
          <div class="imgDivHeight imgDivLeft8Top2 top25" *ngIf="tblList.TableType ==2">
            <img src="assets/images/Group 794.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft10Top6 top25" *ngIf="tblList.TableType==4">
            <img src="assets/images/Group 804.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tblNoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'tblNoSpan':tblList.TableNumber <10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft10Top6" *ngIf="tblList.TableType==6">
            <img src="assets/images/Group 806.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==8">
            <img src="assets/images/Group 817.png" />
            <span *ngIf="tblList.TableNumber > 99" class="tbl68NoSpan100">{{tblList.TableNumber}}</span>
            <span *ngIf="tblList.TableNumber < 99" [ngClass]="{'top68SpanTblNo0To9':tblList.TableNumber < 10, 'top68SpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>
          <!--<div class="imgDivHeight imgDivLeft21Top8" *ngIf="tblList.TableType==10">
              <img src="assets/images/Group 810.png" />
              <span [ngClass]="{'tblNoSpan':tblList.TableNumber<10,'tblNoSpanTblNo10':tblList.TableNumber > 9}">{{tblList.TableNumber}}</span>
          </div>-->
          <div class="padtop28">
            <p class="mrg0 pEllipsis">{{tblList.FloorName}}</p>
            <p class="padLeft15">{{tblList.HostessName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 CancBtnDiv">
      <div class="col-sm-2 col-md-offset-4 no-pad">
        <span class="cancleStyle mrgLeft3em"><i aria-hidden="true" class="bladeIcon icon-close closeIconSpn" (click)="PreviousPage()"></i> Cancel</span>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
