.sbtbtn {
    margin: 0 0 10px 0;
    float: left;
    width: 100%;
}

.seatedTbl table tr td {
  border-bottom: #cacacb solid 1px;
}
.seatedTbl table tr td .selected {
  opacity: 1;
}
.seatedTbl  table tbody tr td a:hover{
  cursor:pointer;
}

.sbtbtn button {
  background: #0078d7;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  float: left;
  outline: none;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: flex;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.highlight{
    opacity:0.8 !important;
}

#GetSeatedTbl{
  margin-bottom:9em;
}