<!--header-->
<shared-header></shared-header>
<!-- main div for displaying seated info-->
<div class="col-md-12 mrgTop6em">
  <div class="col-md-12 seatedTbl">

    <div class="col-xs-12 seated-tile-container">
      <div class="col-xs-4" *ngFor="let seatsinfo of sorted_seatedinfo; let i = index">
        <div class="seated-tile" [ngStyle]="style[seatsinfo.HostessID]">
          <div class="tile-content">
            <h3 class="fontsize18">{{seatsinfo.UserName}}</h3>
            <table class="table">
              <tr>
                <td colspan="2">Trufl Payment: <span *ngIf="seatsinfo.OfferAmount!=null && seatsinfo.OfferAmount !='' && seatsinfo.OfferType != 2">{{seatsinfo.OfferAmount}}</span></td>
              </tr>
              <tr>
                <td>Party Size: <span>{{seatsinfo.PartySize}}</span></td>
                <td class="alignRight">Table No: <span>{{seatsinfo.TableNumbers}}</span></td>
              </tr>
              <tr>
                <td>Time Seated: <span>{{seatsinfo.TimeSeated}}</span></td>
                <td class="alignRight">Time Remn: <span>{{seatsinfo.TimeRemaining}}</span></td>
              </tr>
            </table>
          </div>
          <div class="tile-actions col-xs-12">
            <div class="row">
              <a href="javascript:void(0)" class="col-xs-3"><img class="selected" alt="slow" src="assets/images/slow.png" (click)="slow(seatsinfo,seatsinfo.BookingID)" /></a>
              <a href="javascript:void(0)" class="col-xs-3"><img alt="jump" class="" src="assets/images/jump.png" (click)="jump(seatsinfo,seatsinfo.BookingID)" /></a>
              <a href="javascript:void(0)" class="col-xs-3" *ngIf="!seatsinfo.CheckReceived"><img alt="check icon" class="" src="assets/images/check icon.png" (click)="checkDrop(seatsinfo,seatsinfo.BookingID)" /></a>
              <a href="javascript:void(0)" class="col-xs-3" *ngIf="seatsinfo.CheckReceived"><img alt="check icon" class="" src="assets/images/check iconb drop.png" (click)="checkDrop(seatsinfo,seatsinfo.BookingID)" /></a>
              <a href="javascript:void(0)" class="col-xs-3"><img alt="" class="" src="assets/images/Group-576.png" (click)="emptyTable(seatsinfo,seatsinfo.BookingID)" /></a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!hasData()">No Data Found</div>
    <div class="addImgDiv">
      <a class="addImg"><img (click)="navigateToaddGuest()" class="addImgwidth" src="assets/images/bigadd.png" /></a>
    </div>
  </div>

  <!--User Profile  Right Side-->

  <div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="showProfile">
    <div class="divProfileSection">
      <img src="assets/images/cross.png" class="closeIconStyle" (click)="closeProile()" />
      <div class="slidetopHostess col-md-12">
        <img alt="" src="data:image/JPEG;base64,{{pic}}" />
      </div>
      <div class="col-md-12 mrgBottom10">
        <p class="pUsernm"><label>{{username}}</label></p>
        <p class="pStyles"></p>
        <p class="pStyles"></p>
      </div>
      <div class="col-md-12 clearfix divImgbanner">
        <span class="ImgBorder">
          <button disabled><img alt="" src="assets/images/DollerSmall.png" /></button>
        </span>
        <span class="ImgBorder">
          <button disabled>
            <img src="assets/images/removeSmall.png" />
          </button>
        </span>
        <span class="ImgBorder"><a (click)="editguest()"><img src="assets/images/editSmall.png" /></a></span>
        <span class="ImgBorder"><a (click)="printrow(data)"><img src="assets/images/Printersmall.png" /></a></span>
      </div>

      <div class="col-md-12" id="biodata">
        <div class="slideform">
          <p class="pBioName">This Visit</p>
          <p class="pbioDesc">{{data.ThisVisit}}</p>

          <p class="pBioName">Relationship</p>
          <p class="pbioDesc">{{data.Relationship}}</p>

          <p class="pBioName">Seating Preferences</p>
          <p class="pbioDesc">{{data.SeatingPreferences}}</p>

          <p class="pBioName">Food & Drink Preferences</p>
          <p class="pbioDesc">{{data.FoodAndDrinkPreferences}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

</div>
<!-- trungetseated component -->
<turnOngetseated></turnOngetseated>
<!-- custom confirmation box -->
<common-dialog [(visible)]="showDialog">
  <div class="pad1em">{{commonmessage}}</div>
  <div class="btnDiv">
    <button (click)="Ok()" class="btn">Yes</button>
    <button (click)="Cancel()" class="btn">No</button>
  </div>
</common-dialog>
