<!--header-->
<shared-header></shared-header>
<!-- main div for displaying seated info-->
<div class="container-fluid mrgTop5em" [ngClass]="{'col-sm-8 flyoutopen' : selectedTableInfo.length > 0}">
  <div class="row">
    <div class="col-md-12 seatedTbl">

      <h2 *ngIf="noSeatedTables">There are no seated tables</h2>

      <div class="seated-tile-wrap auto-clear clearfix" *ngFor="let serversList of finalServersObject; let s=index">
        <ul class="server-list snapShotServersList col-xs-12" *ngIf="serversList.tables.length >= 1">
          <li>
            <a class="unAssigned serverBtn" [style.backgroundColor]="serversList.HostessColor">
              <span class="">
                {{serversList.serverName}}
              </span>
            </a>
          </li>
        </ul>

        <div class="pull-left" *ngFor="let tops of serversList.tables;let k=index">
          <div class="table-tiles">
            <div *ngFor="let tables of tops.TablesAssigned; let t=index">
              <div class="seated-tile server-color-unassigned" id="table{{s}}{{k}}{{t}}" (click)="selectedTable(s,k,t)">
                <div class="tile-inner-wrap">
                  <div class="seated-tile-head" [style.backgroundColor]="tables.HostessColor">
                    <p>{{tables.HostessName}}</p>
                  </div>
                  <div class="col-xs-12 seated-tile-inner">
                    <div class="icon-timer">
                      <div class="icon-timer-inner">
                        <span class="icon-trufl-seated" [style.color]="tables.HostessColor"></span>
                        <round-progress [current]="tables.TimeSeated"
                                        [max]="tables.TotalTime"
                                        [color]="'#000'"
                                        [background]="'#DCDCDC'"
                                        [radius]="125"
                                        [stroke]="10"
                                        [semicircle]="false"
                                        [rounded]="false"
                                        [clockwise]="true"
                                        [responsive]="false"
                                        [duration]="10"
                                        [animation]="'easeInOutQuart'"
                                        [animationDelay]="0"></round-progress>
                      </div>
                      <div class="guest">
                        <p>{{tables.UserName}}</p>
                        <span class="icon-trufl-diamond"></span> <span class="icon-trufl-diamond"></span>
                      </div>
                      <div class="timer">
                        <span class="glyphicon glyphicon-minus" (click)="slow(tables.BookingID);$event.stopPropagation();"></span>
                        <input type="text" name="time" value="05:00" disabled />
                        <span class="glyphicon glyphicon-plus" (click)="jump(tables.BookingID);$event.stopPropagation();"></span>
                      </div>
                    </div>
                    <div class="table-info-wrap" *ngIf="tables.TableType == 'Large Parties'">
                      <div class="wrap-header">
                        Bar Area
                      </div>
                      <div class="info-wrap">
                        <div class="table-info" *ngFor="let multiTables of tables.SeatedTableType">
                          <div class="table-number">{{multiTables.TableNumber}}</div>
                          <div class="table-fill">
                            <span class="circle" *ngFor="let item of createRange(multiTables.TableTop)" [style.backgroundColor]="tables.HostessColor"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" table-info" *ngIf="tables.TableType != 'Large Parties'">
                      <h3 class="table-info-header">{{tables.TableName}}</h3>
                      <div class="table-number">{{tables.TableNumbers}}</div>
                      <div class="table-fill">
                        <span class="circle" *ngFor="let item of createRange(tables.SeatedTableType)" [style.backgroundColor]="tables.HostessColor"></span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!--<div class="seated-flyOut" *ngIf="!show">
      <div class="user-info">
        <div class="user-top-block">
          <h3>Get Seated Now</h3>
          <div class="picture">
            <span class="sopt">
              <span class="ico-sett icon-trufl-getseatednow"></span>
            </span>

          </div>
          <h6>
            <span>Wanda F.</span>
            <span>
              <a href="javascript:void(0)">
                <span class="ico-sett icon-trufl-refresh"></span>
              </a>
            </span>
          </h6>
          <h6>Recommended Server</h6>
        </div>
        <div class="user-middle-block-gsn">

        </div>
        <div class="user-bottom-block-gsn">

        </div>
      </div>
    </div>-->

 
  

  <!--User Profile  Right Side-->

  <!--<div class="col-md-2 animated fadeInRight" id="profileSection" *ngIf="showProfile">
    <div class="divProfileSection">
      <img src="assets/images/cross.png" class="closeIconStyle" (click)="closeProile()" />
      <div class="slidetopHostess col-md-12">
        <img alt="" src="data:image/JPEG;base64,{{pic}}" />
      </div>
      <div class="col-md-12 mrgBottom10">
        <p class="pUsernm"><label>{{selectedTableInfo.username}}</label></p>
        <p class="pStyles">{{selectedTableInfo.FoodAndDrinkPreferences}}</p>
        <p class="pStyles">{{selectedTableInfo.username}}</p>
      </div>
      <div class="col-md-12 clearfix divImgbanner">
        <span class="ImgBorder">
          <button disabled><img alt="" src="assets/images/DollerSmall.png" /></button>
        </span>
        <span class="ImgBorder">
          <button disabled>
            <img src="assets/images/removeSmall.png" />
          </button>
        </span>
        <span class="ImgBorder"><a (click)="editguest()"><img src="assets/images/editSmall.png" /></a></span>
        <span class="ImgBorder"><a (click)="printrow(data)"><img src="assets/images/Printersmall.png" /></a></span>
      </div>

      <div class="col-md-12" id="biodata">
        <div class="slideform">
          <p class="pBioName">This Visit</p>
          <p class="pbioDesc">{{data.ThisVisit}}</p>

          <p class="pBioName">Relationship</p>
          <p class="pbioDesc">{{data.Relationship}}</p>

          <p class="pBioName">Seating Preferences</p>
          <p class="pbioDesc">{{data.SeatingPreferences}}</p>

          <p class="pBioName">Food & Drink Preferences</p>
          <p class="pbioDesc">{{data.FoodAndDrinkPreferences}}</p>
        </div>
      </div>
    </div>
  </div>-->

</div>
</div>


<div class="col-md-4 flyOut normal noTabs snapShotRight animated fadeInRight no-pad-right mrgTop5em "
     *ngIf="selectedTableInfo.length > 0" >
  <a href="javascript:void(0)"  class="close-box" (click)="closeProile()" *ngIf="showProfile">
    <span class="close-box icon-trufl-close" (click)="showProfile=false; classapply = false;"></span>
  </a>
  <div class="fly-tab-content">
    <div *ngIf="selectedTableInfo.length == 1">
      <div class="user-info">
        <div class="user-top-block">
          <div class="qsTopsSize">
            <img src="data:image/JPEG;base64,{{pic}}" class="img-responsive" alt="profile image" *ngIf="!noProfilePicture">
            <h4 *ngIf="noProfilePicture">"Upload Profile Pic"</h4>
          </div>
          <h3>{{selectedTableInfo[0].UserName}}</h3>
          <h6>
            <span>{{selectedTableInfo[0].RestaurantMemberName}}</span>
          </h6>
          <h6>
            <span>{{selectedTableInfo[0].TruflMemberName}}</span>
          </h6>

        </div>
        <div class="user-middle-block">
          <div class="slideform">
            <p class="pBioName">This Visit</p>
            <p class="pbioDesc">{{selectedTableInfo[0].ThisVisit}}</p>

            <p class="pBioName">Relationship</p>
            <p class="pbioDesc">{{selectedTableInfo[0].Relationship}}</p>

            <p class="pBioName">Seating Preferences</p>
            <p class="pbioDesc">{{selectedTableInfo[0].SeatingPreferences}}</p>

            <p class="pBioName">Food & Drink Preferences</p>
            <p class="pbioDesc">{{selectedTableInfo[0].FoodAndDrinkPreferences}}</p>

            <p class="pBioName">Description</p>
            <p class="pbioDesc">{{selectedTableInfo[0].Description}}</p>
          </div>
        </div>
        <div class="user-bottom-block">
          <ul>
            <li>
              <a href="javascript:void(0)" (click)="printrow(selectedTableInfo[0])">
                <span class="ico-sett icon-trufl-print"></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="editguest(selectedTableInfo[0])">
                <span class="ico-sett icon-trufl-edit"></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="switchMultipleServer(template)">
                <span class="ico-sett icon-trufl-refresh"></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="checkdrop()">
                <span class="ico-sett icon-trufl-checkdrop"></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="emptyTable()">
                <span class="ico-sett icon-trufl-remove"></span>
              </a>
            </li>
         </ul>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTableInfo.length > 1">
      <div class="user-info">
        <div class="user-top-block">
          <h3>Get Seated Now</h3>
          <div class="picture">
            <span class="sopt">
              <span class="ico-sett icon-trufl-getseatednow"></span>
            </span>

          </div>
          <h6>
            <span>{{selectedTableInfo[0].HostessName}}</span>
            <span>
              <a href="javascript:void(0)" (click)="switchMultipleServer(template)">
                <span class="ico-sett icon-trufl-refresh"></span>
              </a>
            </span>
          </h6>
          <h6>Recommended Server</h6>
        </div>
        <div class="user-middle-block-gsn">
          <form class="gsn-flyout-from" action="">
            <div class="tops-details">
              <div class="tops-sections">
                <div class="tops-size-prize">
                  <div class="tops-size">
                    <h4>8-Tops</h4>
                  </div>
                  <div class="tops-prize">
                    <div>
                      <button>-</button>
                      <input type="text" value="$100" />
                      <button>+</button>
                    </div>
                  </div>
                </div>
                <div class="tops-tbl-row">
                  <div class="tops-tbl-details" *ngFor="let selectedTables of selectedTableInfo">
                    <h4>{{selectedTables.TableNumbers}}</h4>
                  </div>
                </div>
              </div>
            
              <div class="pull-right">
                <button class="deselectBtn">Deselect All</button>
              </div>
            </div>
          </form>
        </div>
        <div class="user-bottom-block-gsn">
          <div class="text-center">
            <span class="ImgBorder">
              <a (click)="multiplePrint()"><span class="icon-trufl-print"></span></a>
            </span>
            <!--<span class="ImgBorder">
              <a (click)="editguest()"><img src="assets/images/editSmall.png" /></a>
            </span>-->
            <span class="ImgBorder pull-left">
              <a (click)="switchMultipleServer(template)"><span class="ico-sett icon-trufl-refresh pull-right"></span></a>
            </span>
            <span class="ImgBorder">
              <a (click)="checkdrop()"><span class="icon-trufl-checkdrop"></span></a>
            </span>
            <span class="ImgBorder">
              <a (click)="emptyTable()"><span class="icon-trufl-remove"></span></a>
            </span>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!--
    <ngb-tabset>
      <ngb-tab *ngIf="selectedTableInfo.length == 1">
        <ng-template ngbTabContent>
          <div class="user-info">
            <div class="user-top-block">
              <div class="qsTopsSize">
                <img src="data:image/JPEG;base64,{{pic}}" class="img-responsive" alt="profile image">
              </div>
              <h3>{{selectedTableInfo[0].UserName}}</h3>
              <h6>
                <span>{{selectedTableInfo[0].RestaurantMemberName}}</span>
              </h6>
              <h6>
                <span>{{selectedTableInfo[0].TruflMemberName}}</span>
              </h6>

            </div>
            <div class="user-middle-block-gsn">
              <div class="slideform">
                <p class="pBioName">This Visit</p>
                <p class="pbioDesc">{{selectedTableInfo[0].ThisVisit}}</p>

                <p class="pBioName">Relationship</p>
                <p class="pbioDesc">{{selectedTableInfo[0].Relationship}}</p>

                <p class="pBioName">Seating Preferences</p>
                <p class="pbioDesc">{{selectedTableInfo[0].SeatingPreferences}}</p>

                <p class="pBioName">Food & Drink Preferences</p>
                <p class="pbioDesc">{{selectedTableInfo[0].FoodAndDrinkPreferences}}</p>

                <p class="pBioName">Description</p>
                <p class="pbioDesc">{{selectedTableInfo[0].Description}}</p>
              </div>
            </div>
            <div class="user-bottom-block-gsn">
              <div class="text-center">
                <span class="ImgBorder">
                  <a (click)="printrow(selectedTableInfo[0])"><span class="icon-trufl-print"></span></a>
                </span>
                <span class="ImgBorder">
                  <a (click)="editguest(selectedTableInfo[0])"><span class="icon-trufl-edit"></span></a>
                </span>
                <span class="ImgBorder pull-left">
                  <a (click)="switchServer(selectedTableInfo[0].TruflUserID)"><span class="ico-sett icon-trufl-refresh pull-right"></span></a>
                </span>
                <span class="ImgBorder">
                  <a (click)="checkdrop()"><span class="icon-trufl-checkdrop"></span></a>
                </span>
                <span class="ImgBorder">
                  <a (click)="emptyTable()"><span class="icon-trufl-remove"></span></a>
                </span>

              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="selectedTableInfo.length > 1">
        <ng-template ngbTabContent>
          <div class="user-info">
            <div class="user-top-block">
              <h3>Get Seated Now</h3>
              <div class="picture">
                <span class="sopt">
                  <span class="ico-sett icon-trufl-getseatednow"></span>
                </span>

              </div>
              <h6>
                <span>Wanda F.</span>
                <span>
                  <a href="javascript:void(0)">
                    <span class="ico-sett icon-trufl-refresh"></span>
                  </a>
                </span>
              </h6>
              <h6>Recommended Server</h6>
            </div>
            <div class="user-middle-block-gsn">
              <form class="gsn-flyout-from" action="">
                <div class="tops-details">
                  <div class="tops-sections">
                    <div class="tops-size-prize">
                      <div class="tops-size">
                        <h4>8-Tops</h4>
                      </div>
                      <div class="tops-prize">
                        <div>
                          <button>-</button>
                          <input type="text" value="$100" />
                          <button>+</button>
                        </div>
                      </div>
                    </div>
                    <div class="tops-tbl-row">
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                    </div>
                  </div>
                  <div class="tops-sections">
                    <div class="tops-size-prize">
                      <div class="tops-size">
                        <h4>8-Tops</h4>
                      </div>
                      <div class="tops-prize">
                        <div>
                          <button>-</button>
                          <input type="text" value="$100" disabled />
                          <button>+</button>
                        </div>
                      </div>
                    </div>
                    <div class="tops-tbl-row">
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                    </div>
                  </div>
                  <div class="tops-sections">
                    <div class="tops-size-prize">
                      <div class="tops-size">
                        <h4>8-Tops</h4>
                      </div>
                      <div class="tops-prize">
                        <div>
                          <button>-</button>
                          <input type="text" value="$100" disabled />
                          <button>+</button>
                        </div>
                      </div>
                    </div>
                    <div class="tops-tbl-row">
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                    </div>
                  </div>
                  <div class="tops-sections">
                    <div class="tops-size-prize">
                      <div class="tops-size">
                        <h4>8-Tops</h4>
                      </div>
                      <div class="tops-prize">
                        <div>
                          <button>-</button>
                          <input type="text" value="$100" />
                          <button>+</button>
                        </div>
                      </div>
                    </div>
                    <div class="tops-tbl-row">
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                      <div class="tops-tbl-details">
                        <h4>1</h4>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right">
                    <button class="deselectBtn">Deselect All</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="user-bottom-block-gsn">
              <div class="text-center">
                <span class="ImgBorder">
                  <a (click)="multiplePrint()"><span class="icon-trufl-print"></span></a>
                </span>
                <span class="ImgBorder pull-left">
                  <a (click)="switchServer(selectedTableInfo[0].TruflUserID)"><span class="ico-sett icon-trufl-refresh pull-right"></span></a>
                </span>
                <span class="ImgBorder">
                  <a (click)="checkdrop()"><span class="icon-trufl-checkdrop"></span></a>
                </span>
                <span class="ImgBorder">
                  <a (click)="emptyTable()"><span class="icon-trufl-remove"></span></a>
                </span>

              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
      -->
</div>



<ng-template #template class="modal fade">
  <div id="switchServerModal" [hidden]="ModalpopupShow" (keyup)="dismissmodal()">
    <!-- Modal content-->
    <p>sahdkahsdjkashdjk</p>
    <div class="modal-content modalBgColoor fontColor modalwidth">

      <div class="modal-header">
        <h3 class="pull-left">Switch Server</h3>
        <button type="button" class="close pull-right" (click)="dismissmodal()">
          <!--<img src="assets/images/cancelWhite.png" class="closeIconStyle" />-->
          <span class="icon-trufl-close closeIconStyle"></span>
        </button>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body modalBody">
        <div class="switchUserDiv col-md-12">
          <div class="col-md-4 padBottom20" *ngFor="let item of ServerDetailsList">
            <a (click)="switchSelectedServer(item.TruflUserID)">
              <img src="data:image/JPEG;base64,{{item.pic}}" alt="" />
              <h3>
                {{item.FullName}}
              </h3>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>

        </div>
      </div>
    </div>
  </ng-template>



<!-- trungetseated component -->
<!--<turnOngetseated></turnOngetseated>-->
<!-- custom confirmation box -->
<common-dialog [(visible)]="showDialog">
  <div class="pad1em">{{commonmessage}}</div>
  <div class="btnDiv">
    <button (click)="Ok()" class="yesBtn">Yes</button>
    <button (click)="Cancel()" class="canBtn">No</button>
  </div>
</common-dialog>
